<section class="banner-area">
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-start">
            <div class="col-lg-12">
                <div class="active-banner-slider owl-carousel">

                    <div class="row single-slide align-items-center d-flex">
                        <div class="col-lg-5 col-md-6">
                            <div class="banner-content">
                                <h3>Nike Nouvelle Collection!</h3>
                                <div class="add-bag d-flex align-items-center">
                                    {#<a class="add-btn" href="{{ path('shop') }}"><span class="lnr lnr-cross"></span></a>#}
                                    {#<span class="add-text text-uppercase">Ajouter au panier</span>#}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="banner-img">
                                <img class="img-fluid" src="{{ asset('shop/img/banner/banner-img.png') }}" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="row single-slide">
                        <div class="col-lg-5">
                            <div class="banner-content">
                                <h3>Nike Nouvelle Collection!</h3>
                                <div class="add-bag d-flex align-items-center">
                                    {#<a class="add-btn" href="{{ path('shop') }}"><span class="lnr lnr-cross"></span></a>#}
                                    {#<span class="add-text text-uppercase">Add to Bag</span>#}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="banner-img">
                                <img class="img-fluid" src="{{ asset('shop/img/banner/banner-img.png') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>