<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Adresse </h6>
                    <p>
                        {% if settings() %}
                            {{ settings().siteAddress }}
                        {% else %}
                            Agoè-téléssou Sis à 100m coté ouest du Carrefour du Pardon Lomé-Togo
                            S/C BP 15 15 Lomé.
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget mail-chimp">
                    <h6 class="mb-20">Contact</h6>
                    <p>
                        {% if settings() %}
                            <i class="fa fa-phone"></i> {{ settings().tel }}<br>
                            <i class="fa fa-envelope"></i>  {{ settings().email }}
                        {% else %}
                            <i class="fa fa-phone"></i>  228 90 90 48 40 / 92 46 18 29 <br>
                            <i class="fa fa-envelope"></i>  carboneket@gmail.com
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="col-lg-4  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Newsletter</h6>
                    <p>Souscrire à notre newsletter</p>
                    <div class="" id="mc_embed_signup">
                        <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
                            <div class="d-flex flex-row">
                                <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = ''" onblur="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = 'Enter Email '" required="" type="email" data-cf-modified-f8231b8bcd3022894dbde7e0-="">
                                <button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                                <div style="position: absolute; left: -5000px;">
                                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                                </div>

                            </div>
                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Nous suivre</h6>
                    <p>Suivez nous sur les réseaux sociaux</p>
                    <div class="footer-social d-flex align-items-center">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
            <p class="footer-text m-0">
                Copyright &copy; <script type="f8231b8bcd3022894dbde7e0-text/javascript">document.write(new Date().getFullYear());</script> Tous droits réservés. {#| This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>#}

            </p>
        </div>
    </div>
</footer>