<header class="header_area sticky-header">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light main_box">
            <div class="container">

                <a class="navbar-brand logo_h" href="{{ path('shop') }}"><img src="{{ asset('logo.png') }}" alt="" style="height: 75px!important;"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="{{ path('shop') }}">Accueil</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('shop_products') }}">Nos produits</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('blog') }}">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('shop_contact') }}">Contact</a></li>
                        {% if is_granted('ROLE_USER') %}
                            <li class="nav-item submenu dropdown">
                                <a href="index.html#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="{{ path('shop_tracking') }}">Commandes</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{{ path('shop_cart') }}">Panier</a></li>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li class="nav-item"><a class="nav-link" href="{{ path('back_office') }}">Admin</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                        {% else %}
                            <li class="nav-item submenu dropdown">
                                <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="{{ path('shop_cart') }}">Panier</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{{ path('shop_tracking') }}">Tracking</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                        {% endif %}
                        {#<li class="nav-item submenu dropdown">#}
                            {#<a href="index.html#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop</a>#}
                            {#<ul class="dropdown-menu">#}
                                {#<li class="nav-item"><a class="nav-link" href="category.html">Shop Category</a></li>#}
                                {#<li class="nav-item"><a class="nav-link" href="single-product.html">Product Details</a></li>#}
                                {#<li class="nav-item"><a class="nav-link" href="checkout.html">Product Checkout</a></li>#}
                                {#<li class="nav-item"><a class="nav-link" href="cart.html">Shopping Cart</a></li>#}
                                {#<li class="nav-item"><a class="nav-link" href="confirmation.html">Confirmation</a></li>#}
                            {#</ul>#}
                        {#</li>#}
                        {#<li class="nav-item submenu dropdown">#}
                            {#<a href="index.html#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>#}
                            {#<ul class="dropdown-menu">#}
                                {#<li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>#}
                                {#<li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>#}
                            {#</ul>#}
                        {#</li>#}
                        {#<li class="nav-item submenu dropdown">#}
                            {#<a href="index.html#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>#}
                            {#<ul class="dropdown-menu">#}
                                {#<li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>#}
                                {#<li class="nav-item"><a class="nav-link" href="tracking.html">Tracking</a></li>#}
                                {#<li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li>#}
                            {#</ul>#}
                        {#</li>#}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <a href="{{ path('shop_cart') }}" class="cart">
                                <span class="ti-bag"></span> <sup><span class="badge" id="cart-total">{{ cart()|length }}</span></sup>
                            </a>
                        </li>
                        <li class="nav-item">
                            <button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="search_input" id="search_input_box">
        <div class="container">
            <form class="d-flex justify-content-between">
                <input type="text" class="form-control" id="search_input" placeholder="Rechercher">
                <button type="submit" class="btn"></button>
                <span class="lnr lnr-cross" id="close_search" title="Fermer"></span>
            </form>
        </div>
    </div>
</header>