{% extends '@FOSUser/layout.html.twig' %}

{% block title %} {{ parent() }} | Connexion {% endblock %}

{% block hover %}
    <h4>Vous êtes nouveau?</h4>
    <p>Cliquer sur le bouton en bas, pour créer un compte utilisateur chez CACKET</p>
    <a class="primary-btn" href="{{ path('fos_user_registration_register') }}">Créer un compte</a>
{% endblock %}

{% block fos_content %}
    {% trans_default_domain 'FOSUserBundle' %}

    <div class="login_form_inner">
     <h3>Se connecter</h3>
         <form class="row login_form" action="{{ path('fos_user_security_check') }}" method="post" id="contactForm" novalidate="novalidate">
             {% if csrf_token %}
                 <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
             {% endif %}
             {% if error %}
                 <div class="col-md-12 alert alert-danger alert-dismissable">
                      <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                 </div>
             {% endif %}
             <div class="col-md-12 form-group">
                 <input type="text" class="form-control" name="_username" value="{{ last_username }}"  placeholder="Email ou nom d'utilisateur" onfocus="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = ''" onblur="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = 'Email ou nom d\'utilisateur'" data-cf-modified-e0589f30826a54577dfa98ab-="">
             </div>
             <div class="col-md-12 form-group">
                 <input type="password" class="form-control" name="_password" placeholder="Mot de passe" onfocus="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = ''" onblur="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = 'Mot de passe'" data-cf-modified-e0589f30826a54577dfa98ab-="">
             </div>
             <div class="col-md-12 form-group">
                 <div class="creat_account">
                     <input type="checkbox" id="f-option2" name="_remember_me">
                     <label for="f-option2">Se souvenir de moi</label>
                 </div>
             </div>
             <div class="col-md-12 form-group">
             <button type="submit" value="submit" class="primary-btn">Se connecter</button>
             <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié?</a>
             </div>
         </form>
     </div>
{% endblock %}