{% extends 'back_office/layout.html.twig' %}

{% block title %} Liste des promotions {% endblock %}

{% block breadcrumb %} Liste des promotions {% endblock %}

{% block container %}
    <!-- Main content -->
    <section class="content">
        <div class="row">

            <div class="col-10">

                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Liste</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="example5" class="table table-bordered table-striped" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Crée le</th>
                                    <th>Date de début</th>
                                    <th>Date de début</th>
                                    <th>Détail</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for promotion in promotions %}
                                        <tr>
                                            <th>
                                                {{ promotion.createdAt|date('d/m/Y') }}
                                            </th>
                                            <th>{{ promotion.startDate|date('d/m/Y') }}</th>
                                            <th>{{ promotion.endDate|date('d/m/Y') }}</th>
                                            <th>
                                                <div class="btn-group">
                                                    <a href="{{ path('back_office_show_promotion', {id: promotion.id}) }}" class="btn btn-sm btn-success"><i class="fa fa-eye"></i></a>
                                                    <a href="{{ path('back_office_edit_promotion', {id: promotion.id}) }}" class="btn btn-sm btn-info"><i class="fa fa-edit"></i></a>
                                                    <a href="{{ path('back_office_delete_promotion', {id: promotion.id}) }}" onclick="deleteHandler(event, this)" class="btn btn-sm btn-warning"><i class="fa fa-trash-o"></i></a>
                                                </div>
                                            </th>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Libellé</th>
                                        <th>Prix</th>
                                            <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}