{% extends 'back_office/layout.html.twig' %}

{% block deps %}
    <link rel="stylesheet" href="{{ asset('back_office/vendor_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('back_office/vendor_plugins/timepicker/bootstrap-timepicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('') }}">
    <link rel="stylesheet" href="{{ asset('back_office/vendor_components/select2/dist/css/select2.min.css') }}">
    <style>
        #show_logo { max-height: 130px!important; }
    </style>
{% endblock %}


{% block title %} Gérer les promotions {% endblock %}

{% block breadcrumb %} Gérer les promotions {% endblock %}

{% block container %}
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="box-title">Paramètres de la promotion</h4>
                </div>
                {{ form_start(form) }}
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-5 col-12">
                            <div class="form-group">
                                <label>Délai:</label>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            {{ form_widget(form.startDate, { attr: { class: 'form-control', 'data-inputmask': "'alias': 'dd/mm/yyyy'", 'data-mask': ''}}) }}
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                    <div class="col-6">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            {{ form_widget(form.endDate, { attr: { class: 'form-control', 'data-inputmask': "'alias': 'dd/mm/yyyy'", 'data-mask': ''}}) }}
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Critère:</label>
                                <div class="row">
                                    <div class="col-8">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calculator"></i>
                                            </div>
                                            {{ form_widget(form.percent, { attr: { class: 'form-control', placeholder: 'Pourcentage de remise'}}) }}
                                            <div class="input-group-addon">
                                                <i class="fa fa-percent"></i>
                                            </div>
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-12 border-left">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label>Catégorie</label>
                                        {{ form_widget(form.categories, { attr: { 'data-placeholder': 'Selectionner'}}) }}
                                    </div>
                                    <!-- /.form-group -->
                                    <div class="form-group row">
                                        <div class="col-lg-6 col-md-6 col-6 demo-checkbox">
                                            <input type="checkbox" class="filled-in" id="basic_checkbox_1" checked />
                                            <label for="basic_checkbox_1">Prendre tous les produits</label>
                                        </div>
                                    </div>
                                    <!-- /.form-group -->
                                </div>
                                <!-- /.col -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label>Produits</label>
                                        {{ form_widget(form.products, { attr: { id: 'products', 'data-placeholder': 'Selectionner'}}) }}
                                    </div>
                                    <!-- /.form-group -->
                                    {#<div class="form-group">#}
                                        {#<label>Disabled Result</label>#}
                                        {#<select class="form-control select2" style="width: 100%;">#}
                                            {#<option selected="selected">Alabama</option>#}
                                            {#<option>Alaska</option>#}
                                            {#<option disabled="disabled">California (disabled)</option>#}
                                            {#<option>Delaware</option>#}
                                            {#<option>Tennessee</option>#}
                                            {#<option>Texas</option>#}
                                            {#<option>Washington</option>#}
                                        {#</select>#}
                                    {#</div>#}
                                    <!-- /.form-group -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box-footer">
                    <div class="row">
                        <input type="submit" style="float: right;" class="btn btn-rounded btn-success " value="Enregistrer">
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('back_office/vendor_components/select2/dist/js/select2.full.js') }}"></script>
    <script src="{{ asset('back_office/vendor_components/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('back_office/vendor_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('back_office/vendor_plugins/input-mask/jquery.inputmask.js') }}"></script>
    <script src="{{ asset('back_office/vendor_plugins/input-mask/jquery.inputmask.date.extensions.js') }}"></script>
    <script src="{{ asset('back_office/vendor_plugins/input-mask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back_office/js/pages/advanced-form-element.js') }}"></script>
    <script>
        var checkbox = $('#basic_checkbox_1');
        var products = $('#promotion_products');
        if ($(checkbox).is(':checked')) $(products).attr('disabled', 'disabled');
        $(checkbox).change(function (e) {
            console.log($(checkbox).is(':checked'));
            if ($(checkbox).is(':checked')) $(products).attr('disabled', 'disabled');
            else $(products).removeAttr('disabled');
        })
    </script>
{% endblock %}
