{% extends 'back_office/layout.html.twig' %}

{% block stylesheets %}
    {{  parent() }}
    <style>
        #show_logo { max-height: 130px!important; }
    </style>
{% endblock %}


{% block title %} Paramètres du site {% endblock %}

{% block breadcrumb %} Paramètres du site {% endblock %}

{% block container %}
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-10 col-10">
                <!-- Basic Forms -->
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Editer les paramètres du site</h4>
                        <ul class="box-controls pull-right">
                            {#<li><a class="box-btn-close" href="#"></a></li>#}
                            <li><a class="box-btn-slide" href="#"></a></li>
                            {#<li><a class="box-btn-fullscreen" href="#"></a></li>#}
                        </ul>
                    </div>
                    <!-- /.box-header -->
                    {{ form_start(form) }}
                    <div class="box-body">
                        <h4 class="mt-0 mb-20"></h4>
                        <div class="form-group">
                            <label>{{ form_label(form.siteTitle) }}</label>
                            {{ form_widget(form.siteTitle, {attr: { class: 'form-control', placeholder: 'Titre du site' }}) }}
                        </div>
                        <div class="form-group">
                            <label>{{ form_label(form.siteDescription) }}</label>
                            {{ form_widget(form.siteDescription, {attr: { class: 'form-control', placeholder: 'Description du site' }}) }}
                        </div>
                        <div class="form-group">
                            <label>{{ form_label(form.siteAddress) }}</label>
                            {{ form_widget(form.siteAddress, {attr: { class: 'form-control', placeholder: 'Adresse' }}) }}
                        </div>
                        <div class="form-group row">
                            <div class="col-md-8">
                                <label>Logo du site (optionnelle): </label>
                                {{ form_widget(form.logo.file, {attr: { class: 'form-control'}}) }}
                            </div>
                            <div class="col-md-4">
                                {% if siteSettings.logo %}
                                    <img src="{{ asset(siteSettings.logo.webPath) }}" class="img img-thumbnail img-circle" id="show_logo" alt="logo">
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ form_label(form.email) }}</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                {{ form_widget(form.email, {attr: { class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ form_label(form.tel) }}</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                {{ form_widget(form.tel, {attr: { class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ form_label(form.facebookUrl) }}</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-facebook"></i>
                                </div>
                                {{ form_widget(form.facebookUrl, {attr: { class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ form_label(form.instaUrl) }}</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-instagram"></i>
                                </div>
                                {{ form_widget(form.instaUrl, {attr: { class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ form_label(form.twitterUrl) }}</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-twitter"></i>
                                </div>
                                {{ form_widget(form.twitterUrl, {attr: { class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="demo-checkbox">
                            {{ form_widget(form.maintenance) }}
                            {{ form_label(form.maintenance) }}
                        </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <input type="submit" class="btn btn-success" value="Enregistrer">
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}
