{% extends 'back_office/layout.html.twig' %}

{% block title %} Gérer le diaporama {% endblock %}

{% block breadcrumb %} Diapo {% endblock %}

{% block container %}
    <!-- Main content -->
    <section class="content">
        <div id="gallery">
            <div class="box">
                <div class="box-header">
                    <h2 class="box-title">Importer <strong>des images au diapo</strong></h2>
                    <div class="pull-right btn-group">
                        <button class="btn btn-info" id="filter-all"> Depuis le site</button>
                        <button class="btn btn-info" id="filter-studio"> Depuis votre ordinateur</button>
                    </div>
                </div>
            </div>
            <!-- Default box -->
            <div class="box">
                <div class="box-body bg-dark">
                    <div id="gallery-content">
                        <div id="gallery-content-center">
                            {% for media in slideMedias %}
                                <a href="{{ asset(media.webPath) }}" data-toggle="lightbox" data-gallery="multiimages" data-title="Image title will be apear here">
                                    <img src="{{ asset(media.webPath) }}" alt="gallery" class="all studio" />
                                </a>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </section>
{% endblock %}