{% extends '@FOSUser/layout.html.twig' %}

{% block title %} {{ parent() }} | Connexion {% endblock %}

{% block hover %}
    <h4>Vous avez déjà un compte?</h4>
    <p>Cliquer sur le bouton en bas, pour vous connecter à votre compte.</p>
    <a class="primary-btn" href="{{ path('fos_user_registration_register') }}">Connexion</a>
{% endblock %}

{% block fos_content %}
    {% trans_default_domain 'FOSUserBundle' %}
    <div class="login_form_inner">
        <h3>S'inscrire</h3>

        {% for widget in form %}
            {% if form_errors(widget) %}
                <div class="col-md-12 alert alert-danger alert-dismissable">
                    <p>{{ form_errors(widget) }}</p>
                </div>
            {% endif %}
        {% endfor %}

        {{ form_start(form, {attr: {class: 'row login_form'}}) }}
        <div class="row">
            <div class="col-lg-6 col-6 form-group ">
                <div class="controls">
                    {{ form_widget(form.lastName, {attr: {placeholder: 'Nom'}}) }}
                </div>
            </div>
            <div class="col-lg-6 col-6 form-group ">
                <div class="controls">
                    {{ form_widget(form.firstName, {attr: {placeholder: 'Prénoms'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-6 form-group ">
                <div class="controls">
                    {{ form_widget(form.tel, {attr: {placeholder: 'Tel'}}) }}
                </div>
            </div>
            <div class="col-lg-6 col-6 form-group ">
                <div class="controls">
                    {{ form_widget(form.address, {attr: {placeholder: 'Adresse'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-6 form-group ">
                <div class="controls">
                    {{ form_widget(form.email, {attr: {class: ' wpcf7-form-control wpcf7-email wpcf7-validates-as-required', placeholder: 'Email'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-6 form-group ">
                <div class="controls">
                    {{ form_widget(form.plainPassword.first, {attr: {placeholder: 'Mot de passe'}}) }}
                </div>
            </div>
            <div class="col-lg-6 col-6 form-group ">
                <div class="controls">
                    {{ form_widget(form.plainPassword.second, {attr: {placeholder: 'Confirmer Mot de passe'}}) }}
                </div>
            </div>
        </div>
        <div class="col-md-12 form-group">
            <button type="submit" value="submit" class="primary-btn">S'inscrire</button>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}