{% extends 'back_office/layout.html.twig' %}

{% block title %} Liste des services {% endblock %}

{% block breadcrumb %} Liste des services {% endblock %}

{% block container %}
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-5 col-5">
                <!-- Basic Forms -->
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Créer un service</h4>
                        <ul class="box-controls pull-right">
                            {#<li><a class="box-btn-close" href="#"></a></li>#}
                            <li><a class="box-btn-slide" href="#"></a></li>
                            {#<li><a class="box-btn-fullscreen" href="#"></a></li>#}
                        </ul>
                    </div>
                    <!-- /.box-header -->
                    {{ form_start(form) }}
                    <div class="box-body">
                        <h4 class="mt-0 mb-20"></h4>
                        <div class="form-group">
                            <label>{{ form_label(form.libelle) }}</label>
                            {{ form_widget(form.libelle, {attr: { class: 'form-control', placeholder: 'Libéllé' }}) }}
                        </div>
                        <div class="form-group">
                            <label>{{ form_label(form.description) }}</label>
                            {{ form_widget(form.description, {attr: { class: 'form-control', placeholder: 'Description' }}) }}
                        </div>
                        <div class="form-group">
                            <label>Image de mise en avant:</label>
                            {{ form_widget(form.media.filename, {attr: { class: 'form-control'}}) }}
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <input type="submit" class="btn btn-success" value="Enregistrer">
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
                <!-- /.box -->
            </div>
            <div class="col-7">

                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Liste des différents services</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="example5" class="table table-bordered table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Libellé</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for service in services %}
                                        <tr>
                                            <th>{{ service.libelle }}</th>
                                            <th>{{ service.description }}</th>
                                            <th>
                                                <div class="btn-group">
                                                    <a href="{{ path('admin_edit_service', {id: service.id}) }}" class="btn btn-sm btn-info"><i class="fa fa-edit"></i></a>
                                                    {#<a href="{{ path('admin_delete_product', {id: product.id}) }}" class="btn btn-sm btn-warning"><i class="fa fa-trash-o"></i></a>#}
                                                </div>
                                            </th>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Libellé</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}