{% extends 'back_office/layout.html.twig' %}

{% block title %} Afficher le service {% endblock %}

{% block breadcrumb %} Afficher le service {% endblock %}

{% block container %}
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-8 col-8">
                <!-- Basic Forms -->
                <div class="box">
                    <div class="box-header with-border">
                        <h4>Détail sur le service</h4>
                        <ul class="box-controls pull-right">
                            {#<li><a class="box-btn-close" href="#"></a></li>#}
                            <li><a class="box-btn-slide" href="#"></a></li>
                            {#<li><a class="box-btn-fullscreen" href="#"></a></li>#}
                        </ul>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="font-weight: 500; font-size: 1rem;">
                        <h4 class="mt-0 mb-20"></h4>
                        <div class="row">
                            <div class="col-5">Libellé: </div>
                            <div class="col-7">{{ service.libelle }}</div>
                        </div>
                        <div class="row">
                            <div class="col-5">Description: </div>
                            <div class="col-7">{{ service.description }}</div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}