{% extends 'shop/layout.html.twig' %}

{% block banner %}
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Connexion</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{{ path('shop') }}">Accueil<span class="lnr lnr-arrow-right"></span></a>
                        <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
     <section class="login_box_area section_gap">
         <div class="container">
             <div class="row">
                 <div class="col-lg-6">
                     <div class="login_box_img">
                         <img class="img-fluid" src="{{ asset('shop/img/login.jpg') }}" alt="">
                         <div class="hover">
                             {% block hover %}

                             {% endblock %}
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-6">
                     {% block fos_content %}{% endblock %}
                 </div>
             </div>
         </div>
     </section>
    {% for type, messages in app.session.flashBag.all %}
      {% for message in messages %}
          <blockquote class="generic-blockquote blockquote-danger {{ type }}">
              {{ message|trans({}, 'FOSUserBundle') }}
          </blockquote>
      {% endfor %}
    {% endfor %}

{% endblock %}