{% extends 'back_office/layout.html.twig' %}

{% block title %} Modifier la catégorie {% endblock %}

{% block breadcrumb %} Modifier la catégorie {% endblock %}

{% block container %}
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-8 col-8">
                <!-- Basic Forms -->
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Modifier une catégorie</h4>
                        <ul class="box-controls pull-right">
                            {#<li><a class="box-btn-close" href="#"></a></li>#}
                            <li><a class="box-btn-slide" href="#"></a></li>
                            {#<li><a class="box-btn-fullscreen" href="#"></a></li>#}
                        </ul>
                    </div>
                    <!-- /.box-header -->
                    {{ form_start(form) }}
                    <div class="box-body">
                        <h4 class="mt-0 mb-20"></h4>
                        <div class="form-group">
                            <label>{{ form_label(form.name) }}</label>
                            {{ form_widget(form.name, {attr: { class: 'form-control', placeholder: 'Libéllé' }}) }}
                        </div>
                        <div class="form-group">
                            <label>{{ form_label(form.description) }}</label>
                            {{ form_widget(form.description, {attr: { class: 'form-control', placeholder: 'Description' }}) }}
                        </div>
                        <div class="form-group">
                            <label>Image de mise en avant: (Optionnelle) </label>
                            {{ form_widget(form.media.file, {attr: { class: 'form-control'}}) }}
                        </div>
                        <div class="demo-checkbox">
                            {{ form_widget(form.isSub) }}
                            {{ form_label(form.isSub) }}
                        </div>
                        <div class="form-group" id="sup" hidden>
                            <label>{{ form_label(form.parent) }}</label>
                            {{ form_widget(form.parent, {attr: { class: 'form-control'}}) }}
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <input type="submit" class="btn btn-success" value="Enregistrer">
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
                <!-- /.box -->
            </div>
            {% if category.media %}
                <div class="col-lg-4 col-4">
                    <div class="box box-default">
                        <img class="card-img-top img-responsive" src="{{ asset(category.media.webPath) }}" alt="">
                        <div class="box-body">
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        if ($('#category_isSub').is(':checked')) { $('#sup').removeAttr('hidden'); $('#sup').show(); }
        $('#category_isSub').click(function () {
            var sup =  $('#sup');
            if (this.checked) { $(sup).removeAttr('hidden'); $(sup).show(); }
            else $(sup).hide()
        })
    </script>
{% endblock %}