{% extends 'shop/layout.html.twig' %}

{% block title %} {{ parent() }} | Blog {% endblock %}

{% block banner %}
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Blog</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{{ path('shop') }}">Accueil<span class="lnr lnr-arrow-right"></span></a>
                        <a href="{{ path('blog') }}">Blog</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block content %}
    <section class="blog_categorie_area">
        <div class="container">
            {#<div class="row">#}
                {#<div class="col-lg-4">#}
                    {#<div class="categories_post">#}
                        {#<img src="{{ asset('shop/img/blog/cat-post/cat-post-3.jpg') }}" alt="post">#}
                        {#<div class="categories_details">#}
                            {#<div class="categories_text">#}
                                {#<a href="javascript:void(0)"">#}
                                    {#<h5>Social Life</h5>#}
                                {#</a>#}
                                {#<div class="border_line"></div>#}
                                {#<p>Enjoy your social life together</p>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-lg-4">#}
                    {#<div class="categories_post">#}
                        {#<img src="{{ asset('shop/img/blog/cat-post/cat-post-2.jpg') }}" alt="post">#}
                        {#<div class="categories_details">#}
                            {#<div class="categories_text">#}
                                {#<a href="javascript:void(0)"">#}
                                    {#<h5>Politics</h5>#}
                                {#</a>#}
                                {#<div class="border_line"></div>#}
                                {#<p>Be a part of politics</p>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-lg-4">#}
                    {#<div class="categories_post">#}
                        {#<img src="{{ asset('shop/img/blog/cat-post/cat-post-1.jpg') }}" alt="post">#}
                        {#<div class="categories_details">#}
                            {#<div class="categories_text">#}
                                {#<a href="javascript:void(0)"">#}
                                    {#<h5>Food</h5>#}
                                {#</a>#}
                                {#<div class="border_line"></div>#}
                                {#<p>Let the food be finished</p>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        </div>
    </section>

    <section class="blog_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog_left_sidebar">
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a href="javascript:void(0)">Food,</a>
                                        <a class="active" href="javascript:void(0)">Technology,</a>
                                        <a href="javascript:void(0)">Politics,</a>
                                        <a href="javascript:void(0)">Lifestyle</a>
                                    </div>
                                    <ul class="blog_meta list">
                                        <li><a href="javascript:void(0)">Mark wiens<i class="lnr lnr-user"></i></a></li>
                                        <li><a href="javascript:void(0)">12 Dec, 2018<i class="lnr lnr-calendar-full"></i></a></li>
                                        <li><a href="javascript:void(0)">1.2M Views<i class="lnr lnr-eye"></i></a></li>
                                        <li><a href="javascript:void(0)">06 Comments<i class="lnr lnr-bubble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="{{ asset('shop/img/blog/main-blog/m-blog-1.jpg') }}" alt="">
                                    <div class="blog_details">
                                        <a href="javascript:void(0)">
                                            <h2>Astronomy Binoculars A Great Alternative</h2>
                                        </a>
                                        <p>MCSE boot camps have its supporters and its detractors. Some people do not
                                            understand why you should have to spend money on boot camp when you can get
                                            the MCSE study materials yourself at a fraction.</p>
                                        <a href="javascript:void(0)" class="white_bg_btn">View More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a href="javascript:void(0)">Food,</a>
                                        <a class="active" href="javascript:void(0)">Technology,</a>
                                        <a href="javascript:void(0)">Politics,</a>
                                        <a href="javascript:void(0)">Lifestyle</a>
                                    </div>
                                    <ul class="blog_meta list">
                                        <li><a href="javascript:void(0)">Mark wiens<i class="lnr lnr-user"></i></a></li>
                                        <li><a href="javascript:void(0)">12 Dec, 2018<i class="lnr lnr-calendar-full"></i></a></li>
                                        <li><a href="javascript:void(0)">1.2M Views<i class="lnr lnr-eye"></i></a></li>
                                        <li><a href="javascript:void(0)">06 Comments<i class="lnr lnr-bubble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="{{ asset('shop/img/blog/main-blog/m-blog-2.jpg') }}" alt="">
                                    <div class="blog_details">
                                        <a href="javascript:void(0)">
                                            <h2>The Basics Of Buying A Telescope</h2>
                                        </a>
                                        <p>MCSE boot camps have its supporters and its detractors. Some people do not
                                            understand why you should have to spend money on boot camp when you can get
                                            the MCSE study materials yourself at a fraction.</p>
                                        <a href="javascript:void(0)" class="white_bg_btn">View More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a href="javascript:void(0)">Food,</a>
                                        <a class="active" href="javascript:void(0)">Technology,</a>
                                        <a href="javascript:void(0)">Politics,</a>
                                        <a href="javascript:void(0)">Lifestyle</a>
                                    </div>
                                    <ul class="blog_meta list">
                                        <li><a href="javascript:void(0)">Mark wiens<i class="lnr lnr-user"></i></a></li>
                                        <li><a href="javascript:void(0)">12 Dec, 2018<i class="lnr lnr-calendar-full"></i></a></li>
                                        <li><a href="javascript:void(0)">1.2M Views<i class="lnr lnr-eye"></i></a></li>
                                        <li><a href="javascript:void(0)">06 Comments<i class="lnr lnr-bubble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="{{ asset('shop/img/blog/main-blog/m-blog-3.jpg') }}" alt="">
                                    <div class="blog_details">
                                        <a href="javascript:void(0)">
                                            <h2>The Glossary Of Telescopes</h2>
                                        </a>
                                        <p>MCSE boot camps have its supporters and its detractors. Some people do not
                                            understand why you should have to spend money on boot camp when you can get
                                            the MCSE study materials yourself at a fraction.</p>
                                        <a href="javascript:void(0)" class="white_bg_btn">View More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a href="javascript:void(0)">Food,</a>
                                        <a class="active" href="javascript:void(0)">Technology,</a>
                                        <a href="javascript:void(0)">Politics,</a>
                                        <a href="javascript:void(0)">Lifestyle</a>
                                    </div>
                                    <ul class="blog_meta list">
                                        <li><a href="javascript:void(0)">Mark wiens<i class="lnr lnr-user"></i></a></li>
                                        <li><a href="javascript:void(0)">12 Dec, 2018<i class="lnr lnr-calendar-full"></i></a></li>
                                        <li><a href="javascript:void(0)">1.2M Views<i class="lnr lnr-eye"></i></a></li>
                                        <li><a href="javascript:void(0)">06 Comments<i class="lnr lnr-bubble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="{{ asset('shop/img/blog/main-blog/m-blog-4.jpg') }}" alt="">
                                    <div class="blog_details">
                                        <a href="javascript:void(0)">
                                            <h2>The Night Sky</h2>
                                        </a>
                                        <p>MCSE boot camps have its supporters and its detractors. Some people do not
                                            understand why you should have to spend money on boot camp when you can get
                                            the MCSE study materials yourself at a fraction.</p>
                                        <a href="javascript:void(0)" class="white_bg_btn">View More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a href="javascript:void(0)">Food,</a>
                                        <a class="active" href="javascript:void(0)">Technology,</a>
                                        <a href="javascript:void(0)">Politics,</a>
                                        <a href="javascript:void(0)">Lifestyle</a>
                                    </div>
                                    <ul class="blog_meta list">
                                        <li><a href="javascript:void(0)">Mark wiens<i class="lnr lnr-user"></i></a></li>
                                        <li><a href="javascript:void(0)">12 Dec, 2018<i class="lnr lnr-calendar-full"></i></a></li>
                                        <li><a href="javascript:void(0)">1.2M Views<i class="lnr lnr-eye"></i></a></li>
                                        <li><a href="javascript:void(0)">06 Comments<i class="lnr lnr-bubble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="{{ asset('shop/img/blog/main-blog/m-blog-5.jpg') }}" alt="">
                                    <div class="blog_details">
                                        <a href="javascript:void(0)">
                                            <h2>Telescopes 101</h2>
                                        </a>
                                        <p>MCSE boot camps have its supporters and its detractors. Some people do not
                                            understand why you should have to spend money on boot camp when you can get
                                            the MCSE study materials yourself at a fraction.</p>
                                        <a href="javascript:void(0)" class="white_bg_btn">View More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="javascript:void(0)" class="page-link" aria-label="Previous">
<span aria-hidden="true">
<span class="lnr lnr-chevron-left"></span>
</span>
                                    </a>
                                </li>
                                <li class="page-item"><a href="javascript:void(0)" class="page-link">01</a></li>
                                <li class="page-item active"><a href="javascript:void(0)" class="page-link">02</a></li>
                                <li class="page-item"><a href="javascript:void(0)" class="page-link">03</a></li>
                                <li class="page-item"><a href="javascript:void(0)" class="page-link">04</a></li>
                                <li class="page-item"><a href="javascript:void(0)" class="page-link">09</a></li>
                                <li class="page-item">
                                    <a href="javascript:void(0)" class="page-link" aria-label="Next">
<span aria-hidden="true">
<span class="lnr lnr-chevron-right"></span>
</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Rechercher un article" onfocus="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = ''" onblur="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = 'Search Posts'" data-cf-modified-ec93fc670fcebb1e9ee4a67f-="">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="lnr lnr-magnifier"></i></button>
                                </span>
                            </div>
                            <div class="br"></div>
                        </aside>
                        {#<aside class="single_sidebar_widget author_widget">#}
                            {#<img class="author_img rounded-circle" src="{{ asset('shop/img/blog/author.png') }}" alt="">#}
                            {#<h4>Charlie Barber</h4>#}
                            {#<p>Senior blog writer</p>#}
                            {#<div class="social_icon">#}
                                {#<a href="javascript:void(0)"><i class="fa fa-facebook"></i></a>#}
                                {#<a href="javascript:void(0)"><i class="fa fa-twitter"></i></a>#}
                                {#<a href="javascript:void(0)"><i class="fa fa-github"></i></a>#}
                                {#<a href="javascript:void(0)"><i class="fa fa-behance"></i></a>#}
                            {#</div>#}
                            {#<p>Boot camps have its supporters andit sdetractors. Some people do not understand why you#}
                                {#should have to spend money on boot camp when you can get. Boot camps have itssuppor#}
                                {#ters andits detractors.</p>#}
                            {#<div class="br"></div>#}
                        {#</aside>#}
                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Articles populaires</h3>
                            <div class="media post_item">
                                <img src="{{ asset('shop/img/blog/popular-post/post1.jpg') }}" alt="post">
                                <div class="media-body">
                                    <a href="javascript:void(0)">
                                        <h3>Space The Final Frontier</h3>
                                    </a>
                                    <p>02 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="{{ asset('shop/img/blog/popular-post/post2.jpg') }}" alt="post">
                                <div class="media-body">
                                    <a href="javascript:void(0)">
                                        <h3>The Amazing Hubble</h3>
                                    </a>
                                    <p>02 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="{{ asset('shop/img/blog/popular-post/post3.jpg') }}" alt="post">
                                <div class="media-body">
                                    <a href="javascript:void(0)">
                                        <h3>Astronomy Or Astrology</h3>
                                    </a>
                                    <p>03 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="{{ asset('shop/img/blog/popular-post/post4.jpg') }}" alt="post">
                                <div class="media-body">
                                    <a href="javascript:void(0)">
                                        <h3>Asteroids telescope</h3>
                                    </a>
                                    <p>01 Hours ago</p>
                                </div>
                            </div>
                            <div class="br"></div>
                        </aside>

                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Catégories</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="javascript:void(0)" class="d-flex justify-content-between">
                                        <p>Technology</p>
                                        <p>37</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="d-flex justify-content-between">
                                        <p>Lifestyle</p>
                                        <p>24</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="d-flex justify-content-between">
                                        <p>Fashion</p>
                                        <p>59</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="d-flex justify-content-between">
                                        <p>Art</p>
                                        <p>29</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="d-flex justify-content-between">
                                        <p>Food</p>
                                        <p>15</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="d-flex justify-content-between">
                                        <p>Architecture</p>
                                        <p>09</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="d-flex justify-content-between">
                                        <p>Adventure</p>
                                        <p>44</p>
                                    </a>
                                </li>
                            </ul>
                            <div class="br"></div>
                        </aside>

                        <aside class="single-sidebar-widget tag_cloud_widget">
                            <h4 class="widget_title">Nuages d'étiquettes</h4>
                            <ul class="list">
                                <li><a href="javascript:void(0)">Technology</a></li>
                                <li><a href="javascript:void(0)">Fashion</a></li>
                                <li><a href="javascript:void(0)">Architecture</a></li>
                                <li><a href="javascript:void(0)">Fashion</a></li>
                                <li><a href="javascript:void(0)">Food</a></li>
                                <li><a href="javascript:void(0)">Technology</a></li>
                                <li><a href="javascript:void(0)">Lifestyle</a></li>
                                <li><a href="javascript:void(0)">Art</a></li>
                                <li><a href="javascript:void(0)">Adventure</a></li>
                                <li><a href="javascript:void(0)">Food</a></li>
                                <li><a href="javascript:void(0)">Lifestyle</a></li>
                                <li><a href="javascript:void(0)">Adventure</a></li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}