{% extends 'shop/layout.html.twig' %}

{% block banner %}
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Panier</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{{ path('shop') }}">Accueil<span class="lnr lnr-arrow-right"></span></a>
                        <a href="{{ path('shop_cart') }}">Panier</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Produit</th>
                            <th scope="col">Prix (F CFA)</th>
                            <th scope="col">Quantité</th>
                            <th scope="col">Total</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for element in cart %}
                            <tr  id="tr{{ element[0].id }}">
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <a href="{{ path('shop_product_detail', {id: element[0].id}) }}">
                                                <img class="img-detail" alt="" width="100" src="{{ asset(element[0].media.webPath) }}">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <p>{{ element[0].name }}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>{{ element[0].price }}</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="number"  id="product{{ element[0].id }}"  value="{{ element[1] }}" maxlength="12" value="1" title="Quantityé:" class="input-text qty">
                                    </div>
                                </td>
                                <td>
                                    <h5>{{ element[0].price * element[1] }}</h5>
                                </td>
                                <td>
                                    <button type="submit" title="Mettre à jour" onclick="updateCart('{{ element[0].id }}')" class="btn btn-default tool-tip">
                                        <i class="fa fa-refresh"></i>
                                    </button>
                                    <button type="button" title="Supprimer" onclick="removeFromCart('{{ element[0].id }}')" class="btn btn-default tool-tip">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        {#<tr class="bottom_button">#}
                            {#<td>#}
                                {#<a class="gray_btn" href="cart.html#">Mettre à jour</a>#}
                            {#</td>#}
                            {#<td>#}
                            {#</td>#}
                            {#<td>#}
                            {#</td>#}
                            {#<td>#}
                                {#<div class="cupon_text d-flex align-items-center">#}
                                    {#<input type="text" placeholder="Coupon Code">#}
                                    {#<a class="primary-btn" href="cart.html#">Apply</a>#}
                                    {#<a class="gray_btn" href="cart.html#">Close Coupon</a>#}
                                {#</div>#}
                            {#</td>#}
                        {#</tr>#}
                        <tr>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <h5>Total</h5>
                            </td>
                            <td>
                                <h5>{{ total }} F CFA</h5>
                            </td>
                        </tr>

                        <tr class="out_button_area">
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="gray_btn" href="{{ path('shop') }}">Continuer </a>
                                    <a class="primary-btn" href="{{ path('shop_checkout') }}">Procéder au payment</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

