{% extends 'shop/layout.html.twig' %}

{% block body_id %} id="category" {% endblock %}

{% block banner %}
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Categorie {{ category ? category.name : '' }}</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{{ path('shop') }}">Accueil<span class="lnr lnr-arrow-right"></span></a>
                        {% if category %}
                            <a href="{{ path('shop_products', { id: category.id}) }}">Catégorie {{ category.name }}</a>
                        {% else %}
                            <a href="javascript:void(0)">Catégorie</a>
                        {% endif %}
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5">
                <div class="sidebar-categories">
                    <div class="head">Différentes Catégories</div>
                    <ul class="main-categories">
                        {% for category in supCategories %}
                            <li class="main-nav-list">
{#                                 data-toggle="collapse"#}
                                <a href="{{ path('shop_products', {id: category.id}) }}" aria-expanded="false" aria-controls="homeClean">
                                    <span class="lnr lnr-arrow-right"></span>{{ category.name }}<span class="number"></span>
                                </a>
{#                                <ul class="collapse" id="category{{ category.id }}" data-toggle="collapse" aria-expanded="false" aria-controls="homeClean">#}
{#                                    <li class="main-nav-list child"><a href="#">Frozen Fish<span class="number">(13)</span></a></li>#}
{#                                    <li class="main-nav-list child"><a href="#">Dried Fish<span class="number">(09)</span></a></li>#}
{#                                    <li class="main-nav-list child"><a href="#">Fresh Fish<span class="number">(17)</span></a></li>#}
{#                                    <li class="main-nav-list child"><a href="#">Meat Alternatives<span class="number">(01)</span></a></li>#}
{#                                    <li class="main-nav-list child"><a href="#">Meat<span class="number">(11)</span></a></li>#}
{#                                </ul>#}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-7">

                {#<div class="filter-bar d-flex flex-wrap align-items-center">#}
                    {##}
                    {#<div class="pagination">#}
                        {#<a href="category.html#" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>#}
                        {#<a href="category.html#" class="active">1</a>#}
                        {#<a href="category.html#">2</a>#}
                        {#<a href="category.html#">3</a>#}
                        {#<a href="category.html#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>#}
                        {#<a href="category.html#">6</a>#}
                        {#<a href="category.html#" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>#}
                    {#</div>#}
                {#</div>#}

                <section class="lattest-product-area pb-40 category-list">
                    <div class="row">
                        {% for product in products %}
                            {% if product.stock %}
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-product">
                                        <a href="{{ path('shop_product_detail', {id: product.id}) }}">
                                            <img class="img-fluid" src="{{ asset(product.media.webPath) }}" alt="">
                                        </a>
                                        <div class="product-details">
                                            <h6>{{ product.name }}</h6>
                                            <div class="price">
                                                <h6>{{ product.price }} C CFA</h6>
                                                {#<h6 class="l-through">$210.00</h6>#}
                                            </div>
                                            <div class="prd-bottom">
                                                <a href="javascript:void(0)" onclick="addToCart('{{ product.id }}', 1)" class="click-btn2 btn btn-default">
                                                    <span class="ti-bag"></span> Ajouter au panier
                                                </a>
                                                <a href="{{ path('shop_product_detail', {id: product.id}) }}" class="click-btn2 btn btn-round btn-default">
                                                    <i class="fa fa-eye"></i> Détail
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </section>


                {#<div class="filter-bar d-flex flex-wrap align-items-center">#}
                    {#<div class="pagination">#}
                        {#<a href="category.html#" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>#}
                        {#<a href="category.html#" class="active">1</a>#}
                        {#<a href="category.html#">2</a>#}
                        {#<a href="category.html#">3</a>#}
                        {#<a href="category.html#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>#}
                        {#<a href="category.html#">6</a>#}
                        {#<a href="category.html#" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>#}
                    {#</div>#}
                {#</div>#}

            </div>
        </div>
    </div>

    <section class="related-product-area section_gap">
        <div class="container">
            {#<div class="row justify-content-center">#}
                {#<div class="col-lg-6 text-center">#}
                    {#<div class="section-title">#}
                        {#<h1>Deals of the Week</h1>#}
                        {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore#}
                            {#magna aliqua.</p>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="row">#}
                {#<div class="col-lg-9">#}
                    {#<div class="row">#}
                        {#<div class="col-lg-4 col-md-4 col-sm-6 mb-20">#}
                            {#<div class="single-related-product d-flex">#}
                                {#<a href="category.html#"><img src="img/r1.jpg" alt=""></a>#}
                                {#<div class="desc">#}
                                    {#<a href="category.html#" class="title">Black lace Heels</a>#}
                                    {#<div class="price">#}
                                        {#<h6>$189.00</h6>#}
                                        {#<h6 class="l-through">$210.00</h6>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-lg-4 col-md-4 col-sm-6 mb-20">#}
                            {#<div class="single-related-product d-flex">#}
                                {#<a href="category.html#"><img src="img/r2.jpg" alt=""></a>#}
                                {#<div class="desc">#}
                                    {#<a href="category.html#" class="title">Black lace Heels</a>#}
                                    {#<div class="price">#}
                                        {#<h6>$189.00</h6>#}
                                        {#<h6 class="l-through">$210.00</h6>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-lg-4 col-md-4 col-sm-6 mb-20">#}
                            {#<div class="single-related-product d-flex">#}
                                {#<a href="category.html#"><img src="img/r3.jpg" alt=""></a>#}
                                {#<div class="desc">#}
                                    {#<a href="category.html#" class="title">Black lace Heels</a>#}
                                    {#<div class="price">#}
                                        {#<h6>$189.00</h6>#}
                                        {#<h6 class="l-through">$210.00</h6>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-lg-4 col-md-4 col-sm-6 mb-20">#}
                            {#<div class="single-related-product d-flex">#}
                                {#<a href="category.html#"><img src="img/r5.jpg" alt=""></a>#}
                                {#<div class="desc">#}
                                    {#<a href="category.html#" class="title">Black lace Heels</a>#}
                                    {#<div class="price">#}
                                        {#<h6>$189.00</h6>#}
                                        {#<h6 class="l-through">$210.00</h6>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-lg-4 col-md-4 col-sm-6 mb-20">#}
                            {#<div class="single-related-product d-flex">#}
                                {#<a href="category.html#"><img src="img/r6.jpg" alt=""></a>#}
                                {#<div class="desc">#}
                                    {#<a href="category.html#" class="title">Black lace Heels</a>#}
                                    {#<div class="price">#}
                                        {#<h6>$189.00</h6>#}
                                        {#<h6 class="l-through">$210.00</h6>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-lg-4 col-md-4 col-sm-6 mb-20">#}
                            {#<div class="single-related-product d-flex">#}
                                {#<a href="category.html#"><img src="img/r7.jpg" alt=""></a>#}
                                {#<div class="desc">#}
                                    {#<a href="category.html#" class="title">Black lace Heels</a>#}
                                    {#<div class="price">#}
                                        {#<h6>$189.00</h6>#}
                                        {#<h6 class="l-through">$210.00</h6>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-lg-4 col-md-4 col-sm-6">#}
                            {#<div class="single-related-product d-flex">#}
                                {#<a href="category.html#"><img src="img/r9.jpg" alt=""></a>#}
                                {#<div class="desc">#}
                                    {#<a href="category.html#" class="title">Black lace Heels</a>#}
                                    {#<div class="price">#}
                                        {#<h6>$189.00</h6>#}
                                        {#<h6 class="l-through">$210.00</h6>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-lg-4 col-md-4 col-sm-6">#}
                            {#<div class="single-related-product d-flex">#}
                                {#<a href="category.html#"><img src="img/r10.jpg" alt=""></a>#}
                                {#<div class="desc">#}
                                    {#<a href="category.html#" class="title">Black lace Heels</a>#}
                                    {#<div class="price">#}
                                        {#<h6>$189.00</h6>#}
                                        {#<h6 class="l-through">$210.00</h6>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-lg-4 col-md-4 col-sm-6">#}
                            {#<div class="single-related-product d-flex">#}
                                {#<a href="category.html#"><img src="img/r11.jpg" alt=""></a>#}
                                {#<div class="desc">#}
                                    {#<a href="category.html#" class="title">Black lace Heels</a>#}
                                    {#<div class="price">#}
                                        {#<h6>$189.00</h6>#}
                                        {#<h6 class="l-through">$210.00</h6>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-lg-3">#}
                    {#<div class="ctg-right">#}
                        {#<a href="category.html#" target="_blank">#}
                            {#<img class="img-fluid d-block mx-auto" src="img/category/c5.jpg" alt="">#}
                        {#</a>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        </div>
    </section>
{% endblock %}
