{% extends 'shop/layout.html.twig' %}

{% block banner %}
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Etat de la commande</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{{ path('shop') }}">Accueil<span class="lnr lnr-arrow-right"></span></a>
                        <a href="javascript:void(0)">Etat de la commande</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="order_details section_gap">
        <div class="container">
            <h3 class="title_confirmation">Votre commande a été enrégistré.</h3>

            {% if msg is defined %}
                <blockquote class="generic-blockquote blockquote-danger">
                    {{ msg }}
                </blockquote>
            {% endif %}

            <div class="row order_d_inner">
                <div class="col-lg-8">
                    <div class="details_item">
                        <h4>Informations de la commande</h4>
                        <ul class="list">
                            {% if not is_granted('ROLE_USER') %}
                            <li><span class="text-danger">Veuillez noter ce numéro si vous n'avez pas de compte utilisateur. Elle vous permettra de suivre votre commande
                                    depuis <a target="_blank" style="color: blue;text-decoration: underline;" href="{{ path('shop_tracking') }}">cette page.</a>
                                </span>
                            </li>
                            {% endif %}
                            <li style="margin-bottom: 10px;"><a href="javascript:void(0)"><span style="width: 40%;">Numéro de la commande</span> : {{ command.uid }}</a>  </li>
                            <li style="margin-bottom: 10px;"><a href="javascript:void(0)"><span style="width: 40%;">Date</span> : {{ command.createdAt|date('d/m/Y') }}</a></li>
                            <li style="margin-bottom: 10px;"><a href="javascript:void(0)"><span style="width: 40%;">Total</span> : {{ command.amount }} F CFA</a></li>
                            <li style="margin-bottom: 10px;"><a href="javascript:void(0)"><span style="width: 40%;">Méthode de paiment</span> : {{ command.method }}</a></li>
                            <li style="margin-bottom: 10px;"><a href="javascript:void(0)"><span style="width: 40%;">Payé?</span> : {{ command.paid ? 'OUI': 'NON' }}</a></li>
                            {% if command.paid %}
                            <li style="margin-bottom: 10px;"><a href="javascript:void(0)"><span style="width: 40%;">Payé le </span> : {{ command.paidAt|date('d/m/Y') }}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>


            </div>
            <div class="order_details_table">
                <h2>Détail de la commande</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr >
                            <th scope="col" style="font-weight: bold;">Produits</th>
                            <th scope="col" style="font-weight: bold;">Quantité</th>
                            <th scope="col" style="font-weight: bold;">Total (F CFA)</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for line in command.lines %}
                                <tr>
                                    <td>
                                        <p>{{ line.product.name }}</p>
                                    </td>
                                    <td>
                                        <h5>x {{ line.qty }}</h5>
                                    </td>
                                    <td>
                                        <p>{{ line.product.price * line.qty }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <th scope="col" colspan="2">Coupons</th>
                                <th scope="col">Montant (F CFA)</th>
                            </tr>
                            {% for coupon in command.coupons %}
                                <tr>
                                    <td colspan="2">
                                        <p>{{ coupon.uid }}</p>
                                    </td>

                                    <td>
                                        <p>{{ coupon.amount }}</p>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>
                                        <blockquote class="generic-blockquote blockquote-info" style="padding: 5px 5px 5px 5px!important;">
                                            Aucun coupon
                                        </blockquote>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <th scope="col" class="text-success" colspan="2">Total </th>
                                <th scope="col" class="text-success">{{ command.amount }} F CFA</th>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </section>
{% endblock %}

