{% extends 'shop/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .order_box .list li a .middle {
            float: none;
             width: auto;
            text-align: right;
            display: inline-block;
            margin-left: 52px;
             color: #777;
        }
        .order_box .list li a .last, .span.last {
            color: #222;
        }
        .order_box .payment_item p {
            background: transparent;
            padding: 12px;
        }
        .payment-logo {
            width: 90px;
            height: 90px;
             border: none;
            box-shadow: 2px 2px 5px darkolivegreen;
        }
        .field_error {
            display: none;
            color: red;
            font-size: 10px;
            font-style: italic;
            margin-left: 5px;
        }
    </style>
{% endblock %}

{% block banner %}
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Paiement</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{{ path('shop') }}">Accueil<span class="lnr lnr-arrow-right"></span></a>
                        <a href="{{ path('shop_checkout') }}">Paiement</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="checkout_area section_gap">
        <div class="container">
            {% if  not is_granted('ROLE_USER') %}
            <div class="returning_customer">
                <div class="check_title">
                    <h2>Continuer avec votre compte utilisateur? <a href="{{ path('fos_user_security_login') }}">Cliquer ici pour vous connecter</a></h2>
                </div>
            </div>
            {% endif %}
            {#<div class="cupon_area">#}
                {#<div class="check_title">#}
                    {#<h2>Have a coupon? <a href="javascript:void(0)">Click here to enter your code</a></h2>#}
                {#</div>#}
                {#<input type="text" placeholder="Enter coupon code">#}
                {#<a class="tp_btn" href="javascript:void(0)">Apply Coupon</a>#}
            {#</div>#}
            <div class="billing_details" style="margin-top: 25px;">
                {% if err is defined %}
                    <blockquote class="generic-blockquote blockquote-danger text-danger">
                        {{ err }}
                    </blockquote>
                {% endif %}
                <div class="row d-flex align-center items-center">
                    <div class="col-12">
                        <img class="img-fluid" style="width: 30%;margin-left: 35%;" src="{{ asset('logo.png') }}" alt="">
                    </div>
                </div>
                <div class="row d-flex align-center items-center">
                    {% if not is_granted('ROLE_USER') %}

                        <div class="col-lg-5">
                            <div class="row">
                                <blockquote id="errorPlace" hidden class="generic-blockquote blockquote-danger text-danger">
                                </blockquote>
                            </div>

                            <h3>Détail</h3>
                            <form id="form" class="row contact_form" action="javascript:void(0)" method="post" novalidate="novalidate">
                                <div class="col-md-6 form-group p_star">
                                    <input type="text" placeholder="Nom" class="form-control" id="nom" name="nom">
                                    <span id="nomError" class="field_error">Vous devez saisir votre nom</span>
                                </div>
                                <div class="col-md-6 form-group p_star">
                                    <input type="text" placeholder="Prénoms" class="form-control" id="prenoms" name="prenoms">
                                    <span id="prenomsError" class="field_error">Vous devez saisir votre prénom</span>
                                </div>
                                <div class="col-md-6 form-group p_star">
                                    <input type="text" placeholder="Téléphone" class="form-control" id="tel" name="tel">
                                    <span id="telError" class="field_error">Vous devez saisir votre téléphone</span>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="text" placeholder="Email" class="form-control" id="email" name="email">
                                    <span id="emailError" class="field_error">Vous devez saisir votre email</span>
                                </div>

                                <div class="col-md-12 form-group p_star">
                                    <input type="text" placeholder="Ville" class="form-control" id="city" name="city">
                                    <span id="cityError" class="field_error">Vous devez saisir votre ville</span>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" placeholder="Quartier" class="form-control" id="quarter" name="quarter">
                                    <span id="quarterError" class="field_error">Vous devez saisir votre quartier</span>
                                </div>
                                <div class="col-md-12 form-group">
                                    <div class="creat_account">
                                        <input type="checkbox" id="creerCompte" name="creerCompte">
                                        <label for="creerCompte">Créer un compte avec ces informations?</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    {% endif %}
                    <div class="col-lg-7">
                        <div class="order_box">
                            <h2>Votre commande ID [<code>{{ command.uid }}</code>] (à noter)</h2>
                            <ul class="list">
                                <li><a href="javascript:void(0)">Les produits <span>Montant (F CFA)</span></a></li>
                                {% for line in command.lines %}
                                    <li>
                                        <a style="font-size: 12px;font-weight: bold;" href="javascript:void(0)">
                                            {{ line.product.name }}
                                            <span class="middle">{{ line.product.price }} x {{ line.qty }}</span>
                                            <span class="last">{{ line.qty * line.product.price }}</span>
                                        </a>
                                    </li>
                                {% endfor %}

                                {% if command.coupons|length %}
                                    <li><a href="javascript:void(0)">Les coupons appliqués</a></li>
                                    {% for coupon in command.coupons %}
                                        <li>
                                            <a style="font-size: 12px;font-weight: bold;" href="javascript:void(0)">
                                                <span class="start"></span>
                                                <span class="middle text-warning">{{ coupon.uid }}</span>
                                                <span class="last text-warning">{{ coupon.amount }}</span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                            <ul class="list list_2">
                                <li><a href="javascript:void(0)">Total <span>{{ command.amount }} F CFA</span></a></li>
                            </ul>

                            <div class="payment_item active">
                                <div class="payment_item active">
                                    <p class="row">
                                        <input type="text" id="couponId" class="col-6 form-control" name="selector">
                                        <a class="col-6 btn" href="javascript:void(0)" onclick="applyCoupon()">Appliquer le coupon</a>
                                        <label id="errorCoupon" hidden style="font-weight: bold" class="text-danger"></label>
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <a href="javascript:void(0)" onclick="checkForm(event, 'FLOOZ')" class="btn btn-block" id="flooz">
                                        <img class="payment-logo" src="{{ asset('shop/img/payment/flooz.png') }}" alt="">
                                    </a>
                                </div>
                                <div class="col-md-4">

                                    <form id="tmoneyForm" method="post" action="https://22808.tagpay.fr/online/online.php">
                                        <input type="hidden" id="sessionId" name="sessionid" value="{{ tmoneySessionId }}">
                                        <input type="hidden" id="merchantId" name="merchantid" value="{{ tmoneyMerchantId }}">
                                        <input type="hidden" id="amount" name="amount" value="{{ command.amount }}">
                                        <input type="hidden" id="currency" name="currency" value="952">
                                        <input type="hidden" id="purchaseRef" name="purchaseref" value="{{ command.uid }}">
                                        <input type="hidden" id="description" name="description" value="Paiement de la commande {{ command.uid }} sur Cakket.com">
                                        <input type="hidden" name="accepturl"
                                               value="https://cakket.com/public/shop/check/{{ command.id }}/confirmed">
                                        <input type="hidden" name="cancelurl"
                                               value="https://cakket.com/public/shop/check/{{ command.id }}/canceled">
                                        <input type="hidden" name="declineurl"
                                               value="https://cakket.com/public/shop/check/{{ command.id }}/declined">
                                        <button type="submit" name="ok" class="btn btn-block" id="tmoney">
                                            <img class="payment-logo"  src="{{ asset('shop/img/payment/tmoney.png') }}" alt="">
                                        </button>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <a class="btn btn-block" id="paypal">
                                        <img class="payment-logo" src="{{ asset('shop/img/payment/paypal.svg') }}" alt="">
                                    </a>
                                </div>
                            </div>


                            {#<div class="payment_item active">#}
                                {#<div class="radion_btn">#}
                                    {#<input type="radio" id="f-option4" name="selector">#}
                                    {#<label for="f-option4">Flooz </label>#}
                                    {#<img style="width: 66px; height: 19px;" src="{{ asset('shop/img/payment/flooz.jpg') }}" alt="">#}
                                    {#<div class="check"></div>#}
                                {#</div>#}
                                {#<p>Payer par votre mobile moner FLOOZ</p>#}
                            {#</div>#}
                            {#<a class="primary-btn" href="javascript:void(0)">Payer avec FLOOZ</a>#}

                            {#<div class="payment_item">#}
                                {#<div class="radion_btn">#}
                                    {#<input type="radio" id="f-option5" name="selector">#}
                                    {#<label for="f-option5">TMONEY </label>#}
                                    {#<img style="width: 66px; height: 19px;"  src="{{ asset('shop/img/payment/tmoney.jpg') }}" alt="">#}
                                    {#<div class="check"></div>#}
                                {#</div>#}
                                {#<p>Payer par votre mobile moner TMONEY</p>#}
                            {#</div>#}
                            {#<a class="primary-btn" href="javascript:void(0)">Payer avec TMONEY</a>#}

                            {#<div class="payment_item ">#}
                                {#<div class="radion_btn">#}
                                    {#<input type="radio" id="f-option6" name="selector">#}
                                    {#<label for="f-option6">Paypal </label>#}
                                    {#<img src="img/product/card.jpg" alt="">#}
                                    {#<div class="check"></div>#}
                                {#</div>#}
                                {#<p>#}
                                    {#Payer via PayPal; vous pouvez payer avec votre carte de crédit si vous n’avez pas de compte PayPal.#}
                                {#</p>#}
                            {#</div>#}
                            {#<div class="creat_account">#}
                                {#<input type="checkbox" id="f-option4" name="selector">#}
                                {#<label for="f-option4">J'accepte les </label>#}
                                {#<a href="javascript:void(0)">termes & conditions*</a>#}
                            {#</div>#}
                            {#<a class="primary-btn" href="javascript:void(0)">Payer avec Paypal</a>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        function saveUser(data, cb, err) {
            // create account and link it to command
            return $.ajax({
                type: 'POST',
                url: '/shop/ajax/create_user/for/{{ command.id }}',
                data: data,
                dataType: 'json',
                success: (response) => {
                    console.log(response);
                    cb();
                },
                error: (error) => {
                    console.log(error);
                    if (error.status === 400 && error.responseJSON.response === 'NOK') {
                        console.log(error.responseJSON);
                        console.log(error.status);
                        catchUsernameExist(error);
                    }
                    err();
                }
            });
        }

        function updateCommand(data, cb) {
            // create account and link it to command
            return $.ajax({
                type: 'POST',
                url: '/shop/ajax/update_command/{{ command.id }}',
                data: data,
                dataType: 'json',
                success: (response) => {
                    // console.log(response);
                    cb();
                },
            });
        }

        function applyCoupon() {
            // create account and link it to command
            var coupon = $('#couponId').val();
            if (coupon) {
                return $.ajax({
                    type: 'POST',
                    url: '/shop/ajax/apply_coupon/for/{{ command.id }}',
                    data: {coupon: coupon},
                    dataType: 'json',
                    success: (response) => {
                        console.log(response);
                        location.reload();
                    },
                    error: (error) => {
                        console.log(error);
                        if (error.status === 400 && error.responseJSON.response === 'NOK') {
                            $('#errorCoupon').html(error.responseJSON.data);
                            $('#errorCoupon').removeAttr('hidden');
                        }
                    }
                });
            }
            else {
                $('#errorCoupon').html('Aucun coupon');
                $('#errorCoupon').removeAttr('hidden');
            }

        }

        function catchUsernameExist(error) {
            $('#errorPlace').html(error.responseJSON.data);
            $('#errorPlace').removeAttr('hidden');
        }

        function checkForm(event, which) {
            event.preventDefault();

            if (!$('#nom').val() || !$('#prenoms').val() || !$('#tel').val() || !$('#city').val() || !$('#quarter').val()) {
                if (!$('#nom').val()) $('#nomError').show(); else $('#nomError').hide();
                if (!$('#prenoms').val()) $('#prenomsError').show(); else $('#prenomsError').hide();
                if (!$('#tel').val()) $('#telError').show(); else $('#telError').hide();
                if (!$('#city').val()) $('#cityError').show(); else $('#cityError').hide();
                if (!$('#quarter').val()) $('#quarterError').show(); else $('#quarterError').hide();
                return false;
            } else {
                if ($('#nom').val()) $('#nomError').hide();
                if ($('#prenoms').val()) $('#prenomsError').hide();
                if ($('#tel').val()) $('#telError').hide();
                if ($('#city').val()) $('#cityError').hide();
                if ($('#quarter').val()) $('#quarterError').hide();


                var data = {
                    nom: $('#nom').val(),
                    prenoms: $('#prenoms').val(),
                    email: $('#email').val(),
                    tel: $('#tel').val(),
                    city: $('#city').val(),
                    quarter: $('#quarter').val(),
                    creerCompte: $('#creerCompte').val(),
                };
                console.log(data);


                if ($('#creerCompte')[0].checked) {
                    console.log('............... Act to create account .........');
                    if (which === 'TMONEY') {
                        saveUser(data, () => {
                                $('form#tmoneyForm').submit();
                            }, () => {
                                alert('NO')
                            }
                        );
                    } else if (which === 'FLOOZ') {
                        saveUser(data, () => {
                                window.location = '{{ payGateUrl }}';
                            }, () => {
                                alert('NO')
                            }
                        );
                    }
                }
                else {
                    if (which === 'TMONEY') {
                        updateCommand(data, () => {
                                $('form#tmoneyForm').submit();
                            }, () => {
                                alert('NO')
                            }
                        );
                    } else if (which === 'FLOOZ') {
                        updateCommand(data, () => {
                                window.location = '{{ payGateUrl }}';
                                console.log('NO account going to  {{ payGateUrl }}')
                            }, () => {
                                alert('NO')
                            }
                        );
                    }
                }
            }

        }

    </script>
{% endblock %}