{% extends 'shop/layout.html.twig' %}

{% block banner %}
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Commandes</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{{ path('shop') }}">Accueil<span class="lnr lnr-arrow-right"></span></a>
                        <a href="{{ path('shop_tracking') }}">Commandes</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="tracking_box_area section_gap">
        <div class="container">
            <div class="tracking_box_inner">
                {% if commands|length %}
                    <p>Voici la liste de vos commandes et leur états.</p>
                    <div class="order_details_table">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Date </th>
                                    <th scope="col">Etat</th>
                                    <th scope="col">Total (F CFA)</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for command in commands %}
                                    <tr>
                                        <td>
                                            <p>{{ command.createdAt|date('d/m/Y') }}</p>
                                        </td>
                                        <td>
                                            <h5 class="badge badge-{{ command.paid ? 'success': 'warning' }}"> {{ command.paid ? 'PAYÉ' : 'ATTENTE' }}</h5>
                                        </td>
                                        <td>
                                            <p>{{ command.amount }}</p>
                                        </td>
                                        <td>
                                            <a href="{{ path('shop_checkout_status', { id: command.id }) }}" class="btn btn-sm btn-outline-info"><i class="fa fa-eye">  Détails</i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% else %}
                    <blockquote class="generic-blockquote blockquote-danger">
                        Vous n'avez encore aucune commande enregistrés.
                    </blockquote>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}


