{% extends 'shop/layout.html.twig' %}

{% block content %}
    <section class="contact_area section_gap_bottom">
        <div class="container">
            <div id="mapBox" class="mapBox" data-lat="6.2199401" data-lon="1.2082118" data-zoom="13" data-info="Agoè-téléssou Sis à 100m coté ouest du Carrefour du Pardon." data-mlat="6.2199401" data-mlon="1.2082118">
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="contact_info">
                        <div class="info_item">
                            <i class="lnr lnr-home"></i>
                            <h6>Lomé, Togo</h6>
                            <p>Agoè-téléssou Sis à 100m coté ouest du Carrefour du Pardon</p>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-phone-handset"></i>
                            <h6><a href="javascript:void(0)">00 (228) 0 90 48 40 / 92 46 18 29 </a></h6>
                            <p>S/C BP 15 15 Lomé.</p>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-envelope"></i>
                            <h6><a href="javascript:void(0)"><span class="__cf_email__" data-cfemail="6b181e1b1b04191f2b080407041907020945080406">carboneket@gmail.com</span></a></h6>
                            <p>Envoyer nous un mail</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <form class="row contact_form" action="" method="post" id="contactForm" novalidate="novalidate">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Entrer votre nom" onfocus="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = ''" onblur="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = 'Enter your name'" data-cf-modified-44c07006c8445d4a4934b066-="">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Entrer l'adresse email" onfocus="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = ''" onblur="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = 'Enter email address'" data-cf-modified-44c07006c8445d4a4934b066-="">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="Entrer l'objet" onfocus="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = ''" onblur="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = 'Enter Subject'" data-cf-modified-44c07006c8445d4a4934b066-="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" name="message" id="message" rows="1" placeholder="Entrer le message" onfocus="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = ''" onblur="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = 'Enter Message'" data-cf-modified-44c07006c8445d4a4934b066-=""></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="submit" value="submit" class="primary-btn">Envoyer le message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block banner %}
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Nous contacter</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{{ path('shop') }}">Accueil<span class="lnr lnr-arrow-right"></span></a>
                        <a href="{{ path('shop_contact') }}">Nous contacter</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

