{% extends 'shop/layout.html.twig' %}

{% block title %} {{ parent() }} | Accueil {% endblock %}

{% block banner %}
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Bienvenue sur Cakket.com</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="features-area section_gap">
        <div class="container">
            <div class="flex-row features-inner d-flex align-center align-content-center align-items-center">

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="single-features" >
                        <div class="f-icon">
                            <img src="{{ asset('shop/img/features/f-icon1.png') }}" alt="">
                        </div>
                        <h6>Livraison gratuite</h6>
                        {#<p>Dans tout Lomé et environs</p>#}
                    </div>
                </div>

                {#<div class="col-lg-3 col-md-6 col-sm-6">#}
                    {#<div class="single-features">#}
                        {#<div class="f-icon">#}
                            {#<img src="{{ asset('shop/img/features/f-icon2.png') }}" alt="">#}
                        {#</div>#}
                        {#<h6>Return Policy</h6>#}
                        {#<p>Free Shipping on all order</p>#}
                    {#</div>#}
                {#</div>#}

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="single-features">
                        <div class="f-icon">
                            <img src="{{ asset('shop/img/features/f-icon3.png') }}" alt="">
                        </div>
                        <h6>Support 24/7</h6>
                        {#<p>Free Shipping on all order</p>#}
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="single-features" style="border-right: none;">
                        <div class="f-icon">
                            <img src="{{ asset('shop/img/features/f-icon4.png') }}" alt="">
                        </div>
                        <h6>Paiement sécurisé</h6>
                        {#<p>Free Shipping on all order</p>#}
                    </div>
                </div>

                {#<div class="col-lg-3 col-md-6 col-sm-6"></div>#}
            </div>
        </div>
    </section>

    {#<section class="category-area">#}
        {#<div class="container">#}
            {#<div class="row justify-content-center">#}
                {#<div class="col-lg-8 col-md-12">#}
                    {#<div class="row">#}
                        {#<div class="col-lg-8 col-md-8">#}
                            {#<div class="single-deal">#}
                                {#<div class="overlay"></div>#}
                                {#<img class="img-fluid w-100" src="img/category/c1.jpg" alt="">#}
                                {#<a href="img/category/c1.jpg" class="img-pop-up" target="_blank">#}
                                    {#<div class="deal-details">#}
                                        {#<h6 class="deal-title">Sneaker for Sports</h6>#}
                                    {#</div>#}
                                {#</a>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-lg-4 col-md-4">#}
                            {#<div class="single-deal">#}
                                {#<div class="overlay"></div>#}
                                {#<img class="img-fluid w-100" src="img/category/c2.jpg" alt="">#}
                                {#<a href="img/category/c2.jpg" class="img-pop-up" target="_blank">#}
                                    {#<div class="deal-details">#}
                                        {#<h6 class="deal-title">Sneaker for Sports</h6>#}
                                    {#</div>#}
                                {#</a>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-lg-4 col-md-4">#}
                            {#<div class="single-deal">#}
                                {#<div class="overlay"></div>#}
                                {#<img class="img-fluid w-100" src="img/category/c3.jpg" alt="">#}
                                {#<a href="img/category/c3.jpg" class="img-pop-up" target="_blank">#}
                                    {#<div class="deal-details">#}
                                        {#<h6 class="deal-title">Product for Couple</h6>#}
                                    {#</div>#}
                                {#</a>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-lg-8 col-md-8">#}
                            {#<div class="single-deal">#}
                                {#<div class="overlay"></div>#}
                                {#<img class="img-fluid w-100" src="img/category/c4.jpg" alt="">#}
                                {#<a href="img/category/c4.jpg" class="img-pop-up" target="_blank">#}
                                    {#<div class="deal-details">#}
                                        {#<h6 class="deal-title">Sneaker for Sports</h6>#}
                                    {#</div>#}
                                {#</a>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-lg-4 col-md-6">#}
                    {#<div class="single-deal">#}
                        {#<div class="overlay"></div>#}
                        {#<img class="img-fluid w-100" src="img/category/c5.jpg" alt="">#}
                        {#<a href="img/category/c5.jpg" class="img-pop-up" target="_blank">#}
                            {#<div class="deal-details">#}
                                {#<h6 class="deal-title">Sneaker for Sports</h6>#}
                            {#</div>#}
                        {#</a>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}

    <section class="owl-carousel active-product-area section_gap">

        <div class="single-product-slider">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 text-center">
                        <div class="section-title">
                            <h1>Nos derniers produits</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for product in topProducts %}
                        {% if product.stock %}
                        <div class="col-lg-3 col-md-6">
                            <div class="single-product">
                                <a href="{{ path('shop_product_detail', {id: product.id}) }}">
                                    <img class="img-fluid" src="{{ asset(product.media.webPath) }}" alt="">
                                </a>
                                <div class="product-details">
                                    <h6>{{ product.name }}</h6>
                                    <div class="price">
                                        <h6>{{ product.price }} C CFA</h6>
                                        {#<h6 class="l-through">$210.00</h6>#}
                                    </div>
                                    <div class="prd-bottom">
                                        <a href="javascript:void(0)" onclick="addToCart('{{ product.id }}', 1)" class="click-btn2 btn btn-default">
                                            <span class="ti-bag"></span> Ajouter au panier
                                        </a>
                                        <a href="{{ path('shop_product_detail', {id: product.id}) }}" class="click-btn2 btn btn-round btn-default">
                                            <i class="fa fa-eye"></i> Détail
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="single-product-slider">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 text-center">
                        <div class="section-title">
                            <h1>Tous les produits</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for product in allProducts %}
                        {% if product.stock %}
                        <div class="col-lg-3 col-md-6">
                            <div class="single-product">
                                <a href="{{ path('shop_product_detail', {id: product.id}) }}">
                                    <img class="img-fluid" src="{{ asset(product.media.webPath) }}" alt="">
                                </a>
                                <div class="product-details">
                                    <h6>{{ product.name }}</h6>
                                    <div class="price">
                                        <h6><i class="fa fa-gift"></i>&nbsp;{{ product.price }} C CFA</h6>
                                    </div>
                                    <div class="prd-bottom">
                                        <a href="javascript:void(0)" onclick="addToCart('{{ product.id }}', 1)" class="click-btn2 btn btn-default">
                                            <span class="ti-bag"></span> Ajouter au panier
                                        </a>
                                        <a href="{{ path('shop_product_detail', {id: product.id}) }}" class="click-btn2 btn btn-round btn-default">
                                            <i class="fa fa-eye"></i> Détail
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    {#<section class="exclusive-deal-area">#}
        {#<div class="container-fluid">#}
            {#<div class="row justify-content-center align-items-center">#}
                {#<div class="col-lg-6 no-padding exclusive-left">#}
                    {#<div class="row clock_sec clockdiv" id="clockdiv">#}
                        {#<div class="col-lg-12">#}
                            {#<h1>Exclusive Hot Deal Ends Soon!</h1>#}
                            {#<p>Who are in extremely love with eco friendly system.</p>#}
                        {#</div>#}
                        {#<div class="col-lg-12">#}
                            {#<div class="row clock-wrap">#}
                                {#<div class="col clockinner1 clockinner">#}
                                    {#<h1 class="days">150</h1>#}
                                    {#<span class="smalltext">Days</span>#}
                                {#</div>#}
                                {#<div class="col clockinner clockinner1">#}
                                    {#<h1 class="hours">23</h1>#}
                                    {#<span class="smalltext">Hours</span>#}
                                {#</div>#}
                                {#<div class="col clockinner clockinner1">#}
                                    {#<h1 class="minutes">47</h1>#}
                                    {#<span class="smalltext">Mins</span>#}
                                {#</div>#}
                                {#<div class="col clockinner clockinner1">#}
                                    {#<h1 class="seconds">59</h1>#}
                                    {#<span class="smalltext">Secs</span>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<a href="{{ path('shop') }}" class="primary-btn">Shop Now</a>#}
                {#</div>#}
                {#<div class="col-lg-6 no-padding exclusive-right">#}
                    {#<div class="active-exclusive-product-slider">#}

                        {#<div class="single-exclusive-slider">#}
                            {#<img class="img-fluid" src="img/product/e-p1.png" alt="">#}
                            {#<div class="product-details">#}
                                {#<div class="price">#}
                                    {#<h6>$150.00</h6>#}
                                    {#<h6 class="l-through">$210.00</h6>#}
                                {#</div>#}
                                {#<h4>addidas New Hammer sole#}
                                    {#for Sports person</h4>#}
                                {#<div class="add-bag d-flex align-items-center justify-content-center">#}
                                    {#<a class="add-btn" href="{{ path('shop') }}"><span class="ti-bag"></span></a>#}
                                    {#<span class="add-text text-uppercase">Add to Bag</span>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}

                        {#<div class="single-exclusive-slider">#}
                            {#<img class="img-fluid" src="img/product/e-p1.png" alt="">#}
                            {#<div class="product-details">#}
                                {#<div class="price">#}
                                    {#<h6>$150.00</h6>#}
                                    {#<h6 class="l-through">$210.00</h6>#}
                                {#</div>#}
                                {#<h4>addidas New Hammer sole#}
                                    {#for Sports person</h4>#}
                                {#<div class="add-bag d-flex align-items-center justify-content-center">#}
                                    {#<a class="add-btn" href="{{ path('shop') }}"><span class="ti-bag"></span></a>#}
                                    {#<span class="add-text text-uppercase">Add to Bag</span>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}

    {#<section class="brand-area section_gap">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<a class="col single-img" href="index.html#">#}
                    {#<img class="img-fluid d-block mx-auto" src="img/brand/1.png" alt="">#}
                {#</a>#}
                {#<a class="col single-img" href="index.html#">#}
                    {#<img class="img-fluid d-block mx-auto" src="img/brand/2.png" alt="">#}
                {#</a>#}
                {#<a class="col single-img" href="index.html#">#}
                    {#<img class="img-fluid d-block mx-auto" src="img/brand/3.png" alt="">#}
                {#</a>#}
                {#<a class="col single-img" href="index.html#">#}
                    {#<img class="img-fluid d-block mx-auto" src="img/brand/4.png" alt="">#}
                {#</a>#}
                {#<a class="col single-img" href="index.html#">#}
                    {#<img class="img-fluid d-block mx-auto" src="img/brand/5.png" alt="">#}
                {#</a>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}

    {#<section class="related-product-area section_gap_bottom">#}
        {#<div class="container">#}
            {#<div class="row justify-content-center">#}
                {#<div class="col-lg-6 text-center">#}
                    {#<div class="section-title">#}
                        {#<h1>Deals of the Week</h1>#}
                        {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore#}
                            {#magna aliqua.</p>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="row">#}
                {#<div class="col-lg-9">#}
                    {#<div class="row">#}
                        {#<div class="col-lg-4 col-md-4 col-sm-6 mb-20">#}
                            {#<div class="single-related-product d-flex">#}
                                {#<a href="index.html#"><img src="img/r1.jpg" alt=""></a>#}
                                {#<div class="desc">#}
                                    {#<a href="index.html#" class="title">Black lace Heels</a>#}
                                    {#<div class="price">#}
                                        {#<h6>$189.00</h6>#}
                                        {#<h6 class="l-through">$210.00</h6>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-lg-4 col-md-4 col-sm-6 mb-20">#}
                            {#<div class="single-related-product d-flex">#}
                                {#<a href="index.html#"><img src="img/r2.jpg" alt=""></a>#}
                                {#<div class="desc">#}
                                    {#<a href="index.html#" class="title">Black lace Heels</a>#}
                                    {#<div class="price">#}
                                        {#<h6>$189.00</h6>#}
                                        {#<h6 class="l-through">$210.00</h6>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-lg-4 col-md-4 col-sm-6 mb-20">#}
                            {#<div class="single-related-product d-flex">#}
                                {#<a href="index.html#"><img src="img/r3.jpg" alt=""></a>#}
                                {#<div class="desc">#}
                                    {#<a href="index.html#" class="title">Black lace Heels</a>#}
                                    {#<div class="price">#}
                                        {#<h6>$189.00</h6>#}
                                        {#<h6 class="l-through">$210.00</h6>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-lg-4 col-md-4 col-sm-6 mb-20">#}
                            {#<div class="single-related-product d-flex">#}
                                {#<a href="index.html#"><img src="img/r5.jpg" alt=""></a>#}
                                {#<div class="desc">#}
                                    {#<a href="index.html#" class="title">Black lace Heels</a>#}
                                    {#<div class="price">#}
                                        {#<h6>$189.00</h6>#}
                                        {#<h6 class="l-through">$210.00</h6>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-lg-4 col-md-4 col-sm-6 mb-20">#}
                            {#<div class="single-related-product d-flex">#}
                                {#<a href="index.html#"><img src="img/r6.jpg" alt=""></a>#}
                                {#<div class="desc">#}
                                    {#<a href="index.html#" class="title">Black lace Heels</a>#}
                                    {#<div class="price">#}
                                        {#<h6>$189.00</h6>#}
                                        {#<h6 class="l-through">$210.00</h6>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-lg-4 col-md-4 col-sm-6 mb-20">#}
                            {#<div class="single-related-product d-flex">#}
                                {#<a href="index.html#"><img src="img/r7.jpg" alt=""></a>#}
                                {#<div class="desc">#}
                                    {#<a href="index.html#" class="title">Black lace Heels</a>#}
                                    {#<div class="price">#}
                                        {#<h6>$189.00</h6>#}
                                        {#<h6 class="l-through">$210.00</h6>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-lg-4 col-md-4 col-sm-6">#}
                            {#<div class="single-related-product d-flex">#}
                                {#<a href="index.html#"><img src="img/r9.jpg" alt=""></a>#}
                                {#<div class="desc">#}
                                    {#<a href="index.html#" class="title">Black lace Heels</a>#}
                                    {#<div class="price">#}
                                        {#<h6>$189.00</h6>#}
                                        {#<h6 class="l-through">$210.00</h6>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-lg-4 col-md-4 col-sm-6">#}
                            {#<div class="single-related-product d-flex">#}
                                {#<a href="index.html#"><img src="img/r10.jpg" alt=""></a>#}
                                {#<div class="desc">#}
                                    {#<a href="index.html#" class="title">Black lace Heels</a>#}
                                    {#<div class="price">#}
                                        {#<h6>$189.00</h6>#}
                                        {#<h6 class="l-through">$210.00</h6>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-lg-4 col-md-4 col-sm-6">#}
                            {#<div class="single-related-product d-flex">#}
                                {#<a href="index.html#"><img src="img/r11.jpg" alt=""></a>#}
                                {#<div class="desc">#}
                                    {#<a href="index.html#" class="title">Black lace Heels</a>#}
                                    {#<div class="price">#}
                                        {#<h6>$189.00</h6>#}
                                        {#<h6 class="l-through">$210.00</h6>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-lg-3">#}
                    {#<div class="ctg-right">#}
                        {#<a href="index.html#" target="_blank">#}
                            {#<img class="img-fluid d-block mx-auto" src="img/category/c5.jpg" alt="">#}
                        {#</a>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}
{% endblock %}