{% extends 'base.html.twig' %}

{% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Cacket">
    <meta name="description" content="Cacket : Site e-commerce; Le meilleur prix!">
    <meta name="keywords" content="Cacket Togo; cacket.com; cacket; ecommerce">
    <meta charset="UTF-8">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('shop/css/linearicons.css') }}"/>
    <link rel="stylesheet" href="{{ asset('back_office/vendor_components/font-awesome/css/font-awesome.css') }}"/>
    <link rel="stylesheet" href="{{ asset('shop/css/themify-icons.css') }}"/>
    <link rel="stylesheet" href="{{ asset('shop/css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ asset('shop/css/owl.carousel.css') }}"/>
    <link rel="stylesheet" href="{{ asset('shop/css/nice-select.css') }}"/>
    <link rel="stylesheet" href="{{ asset('shop/css/nouislider.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('shop/css/ion.rangeSlider.css') }}"/>
    <link rel="stylesheet" href="{{ asset('shop/css/ion.rangeSlider.skinFlat.css') }}"/>
    <link rel="stylesheet" href="{{ asset('shop/css/magnific-popup.css') }}"/>
    <link rel="stylesheet" href="{{ asset('shop/css/main.css') }}"/>
    <style>
        .single-product {
            border: 1px solid grey;
            padding: 0;
            box-shadow: 5px 4px 8px grey;
            border-radius: 4px;
        }
        .single-product img {
            height: 200px !important;
            margin-bottom: 10px;
        }
        .single-product .product-details h6 {
            font-weight: bold!important;
            font-size: 13px!important;
        }
        .single-product .product-details .price h6 {
            font-size: 15px!important;
            font-style: italic;
            display: inline-block;
            padding-right: 15px;
            margin: 0;
            color: darkviolet;
        }
        .click-btn2 {
            background: -webkit-linear-gradient(90deg,#ffba00 0%,#ff6c00 100%);
            background: -moz-linear-gradient(90deg,#ffba00 0%,#ff6c00 100%);
            background: -o-linear-gradient(90deg,#ffba00 0%,#ff6c00 100%);
            background: linear-gradient(90deg,#ffba00 0%,#ff6c00 100%);
            padding: 3px;
            padding-left: 5px;
            padding-right: 5px;
            font-size: 15px;
            color: white;
            border-radius: 10px;
            box-shadow: 1px 2px 2px grey;
            margin-right: 5px;
        }
        a.click-btn2.btn.btn-default:hover {
            box-shadow: 3px 1px 5px grey;
            color: white;
        }
        .single-product .product-details .prd-bottom {
            position: relative;
            margin-top: 5px;
            /* padding: 5px; */
        }
        .product-details {
            padding: 10px;
        }
        img.img-detail {
            max-height: 250px!important;
        }
    </style>
{% endblock %}

{% block body %}
    {% block header %}
        {% include 'shop/partials/header.html.twig' %}
    {% endblock %}

    {% block banner %}
        {% include 'shop/partials/banner.html.twig' %}
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
        {% include 'shop/partials/footer.html.twig' %}
    {% endblock %}
{% endblock %}

{% block javascripts %}

    <script src="{{ asset('shop/js/vendor/jquery-2.2.4.min.js') }}" type="f8231b8bcd3022894dbde7e0-text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous" type="f8231b8bcd3022894dbde7e0-text/javascript"></script>
    <script src="{{ asset('shop/js/vendor/bootstrap.min.js') }}" type="f8231b8bcd3022894dbde7e0-text/javascript"></script>
    <script src="{{  asset('shop/js/jquery.ajaxchimp.min.js') }}" type="f8231b8bcd3022894dbde7e0-text/javascript"></script>
    <script src="{{  asset('shop/js/jquery.nice-select.min.js') }}" type="f8231b8bcd3022894dbde7e0-text/javascript"></script>
    <script src="{{  asset('shop/js/jquery.sticky.js') }}" type="f8231b8bcd3022894dbde7e0-text/javascript"></script>
    <script src="{{  asset('shop/js/nouislider.min.js') }}" type="f8231b8bcd3022894dbde7e0-text/javascript"></script>
    <script src="{{  asset('shop/js/countdown.js') }}" type="f8231b8bcd3022894dbde7e0-text/javascript"></script>
    <script src="{{  asset('shop/js/jquery.magnific-popup.min.js') }}" type="f8231b8bcd3022894dbde7e0-text/javascript"></script>
    <script src="{{  asset('shop/js/owl.carousel.min.js') }}" type="f8231b8bcd3022894dbde7e0-text/javascript"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE" type="f8231b8bcd3022894dbde7e0-text/javascript"></script>
    <script src="{{  asset('shop/js/gmaps.min.js') }}" type="f8231b8bcd3022894dbde7e0-text/javascript"></script>
    <script src="{{  asset('shop/js/main.js') }}" type="f8231b8bcd3022894dbde7e0-text/javascript"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="f8231b8bcd3022894dbde7e0-text/javascript"></script>
    <script type="f8231b8bcd3022894dbde7e0-text/javascript">
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-23581568-13');
        </script>
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/a2bd7673/cloudflare-static/rocket-loader.min.js" data-cf-settings="f8231b8bcd3022894dbde7e0-|49" defer=""></script>

    <script>
        {# Add to cart #}
        function addToCart(productId, n) {
            event.preventDefault();
            $.ajax({
                url: Routing.generate('shop_add_to_cart', {'id': productId, 'n': n}),
                dataType: 'json',
                type: 'GET',
                success: function(resp, status) {
                    console.log(resp);
                    var data = resp.data;
                    $('#cart-total').text(Object.keys(data).length);
                    console.log(data);
                    // $.toast({
                    //     heading: 'Notification',
                    //     text: 'Produit ajouté au panier',
                    //     position: 'top-right',
                    //     loaderBg: '#ff6849',
                    //     icon: 'danger',
                    //     hideAfter: 3500,
                    //     stack: 6
                    // });
                    alert('Produit ajouté au panier')
                },
                error: function(error) {
                    console.log(error)
                }
            })
        }

        {# Remove from cart #}
        function removeFromCart(productId) {
            event.preventDefault();
            $.ajax({
                url: Routing.generate('shop_remove_from_cart', {'id': productId}),
                dataType: 'json',
                type: 'GET',
                success: function(resp, status) {
                    console.log(resp);
                    var data = resp.data;
                    $('#cart-total').text(Object.keys(data).length);
                    window.location.reload();
                    console.log(data);
                },
                error: function(error) {
                    console.log(error)
                }
            })
        }

        {# Update cart #}
        function updateCart(productId) {
            event.preventDefault();
            var n = $('#product'+productId).val();
            $.ajax({
                url: Routing.generate('shop_update_cart', {'id': productId, 'newQty': n}),
                dataType: 'json',
                type: 'GET',
                success: function(resp, status) {
                    console.log(resp);
                    var data = resp.data;
                    $('#cart-total').text(Object.keys(data).length);
                    window.location.reload();
                    console.log(data);
                },
                error: function(error) {
                    alert(error.responseJSON.message +  '. Stock actuel est ' + error.responseJSON.stock);
                }
            })
        }
    </script>
{% endblock %}