{% extends 'shop/layout.html.twig' %}

{% block body_id %}
    id="category"
{% endblock %}

{% block banner %}
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Page détail produit</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{{ path('shop') }}">Accueil<span class="lnr lnr-arrow-right"></span></a>
                        <a href="javascript:void(0)">Produits<span class="lnr lnr-arrow-right"></span></a>
                        <a href="#">{{ product.name }}</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}

    <div class="product_image_area">
        <div class="container">
            <div class="row s_product_inner">
                <div class="col-lg-6">
                    <div class="s_Product_carousel">
                        <div class="single-prd-item" style="width: 540px!important;">
                            <img class="img-fluid" src="{{ asset(product.media.webPath) }}" alt="">
                        </div>
                        {% for pm in product.medias %}
                            <div class="single-prd-item" style="width: 540px!important;">>
                                <img class="img-fluid" src="{{ asset(pm.media.webPath) }}" alt="">
                            </div>
                        {% else %}
                            <div class="single-prd-item" style="width: 540px!important;">
                                <img class="img-fluid" src="{{ asset(product.media.webPath) }}" alt="">
                            </div>
                            <div class="single-prd-item" style="width: 540px!important;">
                                <img class="img-fluid" src="{{ asset(product.media.webPath) }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="s_product_text">
                        <h3>{{ product.name }}</h3>
                        <h2>{{  product.price }} F CFA</h2>
                        <ul class="list">
                            <li><a class="active" href="single-product.html#"><span>Categorie</span> : {{ product.category.name }}</a></li>
                            <li><a href="single-product.html#"><span>Disponibilité</span> : {{ (product.stock != 0) ? 'En stock': 'Stock épuisé' }}</a></li>
                        </ul>
                        <p>{{ product.description }}</p>
                        <div class="product_count">
                            <label for="qty">Quantité:</label>
                            <input type="text" name="qty" id="qty" maxlength="{{ product.stock }}" value="1" title="Quantity:" class="input-text qty">
                            <button onclick="if (!window.__cfRLUnblockHandlers) return false; var result = document.getElementById('qty'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;" class="increase items-count" type="button" data-cf-modified-caa76aec12f2c334bad944fb-=""><i class="lnr lnr-chevron-up"></i></button>
                            <button onclick="if (!window.__cfRLUnblockHandlers) return false; var result = document.getElementById('qty'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;" class="reduced items-count" type="button" data-cf-modified-caa76aec12f2c334bad944fb-=""><i class="lnr lnr-chevron-down"></i></button>
                        </div>
                        <div class="card_area d-flex align-items-center">
                            <a class="primary-btn" href="javascript:void(0)" id="submit">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{#    <section class="product_description_area">#}
{#        <div class="container">#}
{#            <ul class="nav nav-tabs" id="myTab" role="tablist">#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Description</a>#}
{#                </li>#}
{#                #}{#<li class="nav-item">#}
{#                    #}{#<a class="nav-link" id="profile-tab" data-toggle="tab" href="single-product.html#profile" role="tab" aria-controls="profile" aria-selected="false">Specification</a>#}
{#                #}{#</li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="true">Commentaires</a>#}
{#                </li>#}
{#                #}{#<li class="nav-item">#}
{#                    #}{#<a class="nav-link active" id="review-tab" data-toggle="tab" href="single-product.html#review" role="tab" aria-controls="review" aria-selected="false">Reviews</a>#}
{#                #}{#</li>#}
{#            </ul>#}
{#            <div class="tab-content" id="myTabContent">#}
{#                <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">#}
{#                    <p>#}
{#                        {{ product.description }}#}
{#                    </p>#}
{#                </div>#}
{#                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">#}
{#                    <div class="table-responsive">#}
{#                        <table class="table">#}
{#                            <tbody>#}
{#                            <tr>#}
{#                                <td>#}
{#                                    <h5>Width</h5>#}
{#                                </td>#}
{#                                <td>#}
{#                                    <h5>128mm</h5>#}
{#                                </td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>#}
{#                                    <h5>Height</h5>#}
{#                                </td>#}
{#                                <td>#}
{#                                    <h5>508mm</h5>#}
{#                                </td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>#}
{#                                    <h5>Depth</h5>#}
{#                                </td>#}
{#                                <td>#}
{#                                    <h5>85mm</h5>#}
{#                                </td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>#}
{#                                    <h5>Weight</h5>#}
{#                                </td>#}
{#                                <td>#}
{#                                    <h5>52gm</h5>#}
{#                                </td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>#}
{#                                    <h5>Quality checking</h5>#}
{#                                </td>#}
{#                                <td>#}
{#                                    <h5>yes</h5>#}
{#                                </td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>#}
{#                                    <h5>Freshness Duration</h5>#}
{#                                </td>#}
{#                                <td>#}
{#                                    <h5>03days</h5>#}
{#                                </td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>#}
{#                                    <h5>When packeting</h5>#}
{#                                </td>#}
{#                                <td>#}
{#                                    <h5>Without touch of hand</h5>#}
{#                                </td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>#}
{#                                    <h5>Each Box contains</h5>#}
{#                                </td>#}
{#                                <td>#}
{#                                    <h5>60pcs</h5>#}
{#                                </td>#}
{#                            </tr>#}
{#                            </tbody>#}
{#                        </table>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="tab-pane fade show active" id="comments" role="tabpanel" aria-labelledby="contact-tab">#}
{#                    <div class="row">#}
{#                        <div class="col-lg-6">#}
{#                            <div class="comment_list">#}
{#                                <div class="review_item">#}
{#                                    <div class="media">#}
{#                                        <div class="d-flex">#}
{#                                            <img src="{{ asset('shop/img/product/review-1.png') }}" alt="">#}
{#                                        </div>#}
{#                                        <div class="media-body">#}
{#                                            <h4>Blake Ruiz</h4>#}
{#                                            <h5>12th Feb, 2018 at 05:56 pm</h5>#}
{#                                            #}{#<a class="reply_btn" href="#">Repondre</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et#}
{#                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea#}
{#                                        commodo</p>#}
{#                                </div>#}

{#                                <div class="review_item">#}
{#                                    <div class="media">#}
{#                                        <div class="d-flex">#}
{#                                            <img src="{{ asset('shop/img/product/review-3.png') }}" alt="">#}
{#                                        </div>#}
{#                                        <div class="media-body">#}
{#                                            <h4>Blake Ruiz</h4>#}
{#                                            <h5>12th Feb, 2018 at 05:56 pm</h5>#}
{#                                            #}{#<a class="reply_btn" href="#">Reply</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et#}
{#                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea#}
{#                                        commodo</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-lg-6">#}
{#                            <div class="review_box">#}
{#                                <h4>Ajouter un commentaire</h4>#}
{#                                <form class="row contact_form" action="https://colorlib.com/preview/theme/karma/contact_process.php" method="post" id="contactForm" novalidate="novalidate">#}
{#                                    <div class="col-md-12">#}
{#                                        <div class="form-group">#}
{#                                            <input type="text" class="form-control" id="name" name="name" placeholder="Your Full name">#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-md-12">#}
{#                                        <div class="form-group">#}
{#                                            <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-md-12">#}
{#                                        <div class="form-group">#}
{#                                            <input type="text" class="form-control" id="number" name="number" placeholder="Phone Number">#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-md-12">#}
{#                                        <div class="form-group">#}
{#                                            <textarea class="form-control" name="message" id="message" rows="1" placeholder="Message"></textarea>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-md-12 text-right">#}
{#                                        <button type="submit" value="submit" class="btn primary-btn">Soumettre</button>#}
{#                                    </div>#}
{#                                </form>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">#}
{#                    <div class="row">#}
{#                        <div class="col-lg-6">#}
{#                            <div class="row total_rate">#}
{#                                <div class="col-6">#}
{#                                    <div class="box_total">#}
{#                                        <h5>Overall</h5>#}
{#                                        <h4>4.0</h4>#}
{#                                        <h6>(03 Reviews)</h6>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-6">#}
{#                                    <div class="rating_list">#}
{#                                        <h3>Based on 3 Reviews</h3>#}
{#                                        <ul class="list">#}
{#                                            <li><a href="single-product.html#">5 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>#}
{#                                            <li><a href="single-product.html#">4 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>#}
{#                                            <li><a href="single-product.html#">3 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>#}
{#                                            <li><a href="single-product.html#">2 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>#}
{#                                            <li><a href="single-product.html#">1 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="review_list">#}
{#                                <div class="review_item">#}
{#                                    <div class="media">#}
{#                                        <div class="d-flex">#}
{#                                            <img src="img/product/review-1.png" alt="">#}
{#                                        </div>#}
{#                                        <div class="media-body">#}
{#                                            <h4>Blake Ruiz</h4>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et#}
{#                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea#}
{#                                        commodo</p>#}
{#                                </div>#}
{#                                <div class="review_item">#}
{#                                    <div class="media">#}
{#                                        <div class="d-flex">#}
{#                                            <img src="img/product/review-2.png" alt="">#}
{#                                        </div>#}
{#                                        <div class="media-body">#}
{#                                            <h4>Blake Ruiz</h4>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et#}
{#                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea#}
{#                                        commodo</p>#}
{#                                </div>#}
{#                                <div class="review_item">#}
{#                                    <div class="media">#}
{#                                        <div class="d-flex">#}
{#                                            <img src="img/product/review-3.png" alt="">#}
{#                                        </div>#}
{#                                        <div class="media-body">#}
{#                                            <h4>Blake Ruiz</h4>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et#}
{#                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea#}
{#                                        commodo</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-lg-6">#}
{#                            <div class="review_box">#}
{#                                <h4>Add a Review</h4>#}
{#                                <p>Your Rating:</p>#}
{#                                <ul class="list">#}
{#                                    <li><a href="single-product.html#"><i class="fa fa-star"></i></a></li>#}
{#                                    <li><a href="single-product.html#"><i class="fa fa-star"></i></a></li>#}
{#                                    <li><a href="single-product.html#"><i class="fa fa-star"></i></a></li>#}
{#                                    <li><a href="single-product.html#"><i class="fa fa-star"></i></a></li>#}
{#                                    <li><a href="single-product.html#"><i class="fa fa-star"></i></a></li>#}
{#                                </ul>#}
{#                                <p>Outstanding</p>#}
{#                                <form class="row contact_form" action="https://colorlib.com/preview/theme/karma/contact_process.php" method="post" id="contactForm" novalidate="novalidate">#}
{#                                    <div class="col-md-12">#}
{#                                        <div class="form-group">#}
{#                                            <input type="text" class="form-control" id="name" name="name" placeholder="Your Full name" onfocus="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = ''" onblur="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = 'Your Full name'" data-cf-modified-caa76aec12f2c334bad944fb-="">#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-md-12">#}
{#                                        <div class="form-group">#}
{#                                            <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" onfocus="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = ''" onblur="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = 'Email Address'" data-cf-modified-caa76aec12f2c334bad944fb-="">#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-md-12">#}
{#                                        <div class="form-group">#}
{#                                            <input type="text" class="form-control" id="number" name="number" placeholder="Phone Number" onfocus="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = ''" onblur="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = 'Phone Number'" data-cf-modified-caa76aec12f2c334bad944fb-="">#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-md-12">#}
{#                                        <div class="form-group">#}
{#                                            <textarea class="form-control" name="message" id="message" rows="1" placeholder="Review" onfocus="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = ''" onblur="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = 'Review'" data-cf-modified-caa76aec12f2c334bad944fb-=""></textarea></textarea>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-md-12 text-right">#}
{#                                        <button type="submit" value="submit" class="primary-btn">Submit Now</button>#}
{#                                    </div>#}
{#                                </form>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}

    {#<section class="related-product-area section_gap_bottom">#}
        {#<div class="container">#}
            {#<div class="row justify-content-center">#}
                {#<div class="col-lg-6 text-center">#}
                    {#<div class="section-title">#}
                        {#<h1>Deals of the Week</h1>#}
                        {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore#}
                            {#magna aliqua.</p>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="row">#}
                {#<div class="col-lg-9">#}
                    {#<div class="row">#}
                        {#<div class="col-lg-4 col-md-4 col-sm-6 mb-20">#}
                            {#<div class="single-related-product d-flex">#}
                                {#<a href="single-product.html#"><img src="img/r1.jpg" alt=""></a>#}
                                {#<div class="desc">#}
                                    {#<a href="single-product.html#" class="title">Black lace Heels</a>#}
                                    {#<div class="price">#}
                                        {#<h6>$189.00</h6>#}
                                        {#<h6 class="l-through">$210.00</h6>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-lg-4 col-md-4 col-sm-6 mb-20">#}
                            {#<div class="single-related-product d-flex">#}
                                {#<a href="single-product.html#"><img src="img/r2.jpg" alt=""></a>#}
                                {#<div class="desc">#}
                                    {#<a href="single-product.html#" class="title">Black lace Heels</a>#}
                                    {#<div class="price">#}
                                        {#<h6>$189.00</h6>#}
                                        {#<h6 class="l-through">$210.00</h6>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-lg-4 col-md-4 col-sm-6 mb-20">#}
                            {#<div class="single-related-product d-flex">#}
                                {#<a href="single-product.html#"><img src="img/r3.jpg" alt=""></a>#}
                                {#<div class="desc">#}
                                    {#<a href="single-product.html#" class="title">Black lace Heels</a>#}
                                    {#<div class="price">#}
                                        {#<h6>$189.00</h6>#}
                                        {#<h6 class="l-through">$210.00</h6>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-lg-4 col-md-4 col-sm-6 mb-20">#}
                            {#<div class="single-related-product d-flex">#}
                                {#<a href="single-product.html#"><img src="img/r5.jpg" alt=""></a>#}
                                {#<div class="desc">#}
                                    {#<a href="single-product.html#" class="title">Black lace Heels</a>#}
                                    {#<div class="price">#}
                                        {#<h6>$189.00</h6>#}
                                        {#<h6 class="l-through">$210.00</h6>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-lg-4 col-md-4 col-sm-6 mb-20">#}
                            {#<div class="single-related-product d-flex">#}
                                {#<a href="single-product.html#"><img src="img/r6.jpg" alt=""></a>#}
                                {#<div class="desc">#}
                                    {#<a href="single-product.html#" class="title">Black lace Heels</a>#}
                                    {#<div class="price">#}
                                        {#<h6>$189.00</h6>#}
                                        {#<h6 class="l-through">$210.00</h6>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-lg-4 col-md-4 col-sm-6 mb-20">#}
                            {#<div class="single-related-product d-flex">#}
                                {#<a href="single-product.html#"><img src="img/r7.jpg" alt=""></a>#}
                                {#<div class="desc">#}
                                    {#<a href="single-product.html#" class="title">Black lace Heels</a>#}
                                    {#<div class="price">#}
                                        {#<h6>$189.00</h6>#}
                                        {#<h6 class="l-through">$210.00</h6>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-lg-4 col-md-4 col-sm-6">#}
                            {#<div class="single-related-product d-flex">#}
                                {#<a href="single-product.html#"><img src="img/r9.jpg" alt=""></a>#}
                                {#<div class="desc">#}
                                    {#<a href="single-product.html#" class="title">Black lace Heels</a>#}
                                    {#<div class="price">#}
                                        {#<h6>$189.00</h6>#}
                                        {#<h6 class="l-through">$210.00</h6>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-lg-4 col-md-4 col-sm-6">#}
                            {#<div class="single-related-product d-flex">#}
                                {#<a href="single-product.html#"><img src="img/r10.jpg" alt=""></a>#}
                                {#<div class="desc">#}
                                    {#<a href="single-product.html#" class="title">Black lace Heels</a>#}
                                    {#<div class="price">#}
                                        {#<h6>$189.00</h6>#}
                                        {#<h6 class="l-through">$210.00</h6>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-lg-4 col-md-4 col-sm-6">#}
                            {#<div class="single-related-product d-flex">#}
                                {#<a href="single-product.html#"><img src="img/r11.jpg" alt=""></a>#}
                                {#<div class="desc">#}
                                    {#<a href="single-product.html#" class="title">Black lace Heels</a>#}
                                    {#<div class="price">#}
                                        {#<h6>$189.00</h6>#}
                                        {#<h6 class="l-through">$210.00</h6>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-lg-3">#}
                    {#<div class="ctg-right">#}
                        {#<a href="single-product.html#" target="_blank">#}
                            {#<img class="img-fluid d-block mx-auto" src="img/category/c5.jpg" alt="">#}
                        {#</a>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery('#submit').click(function () {
            var val = jQuery('#qty').val();
            addToCart('{{ product.id }}', val)
        })
    </script>
{% endblock %}
