{% extends 'shop/layout.html.twig' %}

{% block banner %}
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Tracking de commande</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{{ path('shop') }}">Accueil<span class="lnr lnr-arrow-right"></span></a>
                        <a href="{{ path('shop_tracking') }}">Tracking de commande</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="tracking_box_area section_gap">
        <div class="container">
            <div class="tracking_box_inner">

                <p>Pour suivre votre commande, entrez votre numéro de commande dans la case ci-dessous et appuyez sur le bouton "Suivre". Ce
                    vous a été remis sur votre reçu et dans le courrier électronique de confirmation que vous auriez dû recevoir.</p>

                {% for msg in app.session.flashBag.get('tracking') %}
                    <blockquote class="generic-blockquote blockquote-danger">
                        {{ msg }}
                    </blockquote>
                {% endfor %}

                {{ form_start(form, { class: 'row tracking_form', novalidate: 'novalidate'}) }}
                    <div class="col-md-6 form-group">
                        {{ form_widget(form.uid) }}
                    </div>
                    <div class="col-md-12 form-group">
                        <button type="submit" value="submit" class="primary-btn">Suivre la commande</button>
                    </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}


