{% extends 'back_office/print_layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12 col-12">
            {% for coupon in coupons %}
                <div class="col-lg-12" style="margin-bottom: 60px;">
                    <div class="card">
                        <div class="box bg-orange text-center" style="height: 200px;box-shadow: 10px 5px 5px #967f7f;">
                            <div class="box-header">
                                <h6 style="margin-top: 15px;     margin-bottom: 0;" class="text-white">Coupon CAKKET</h6>
                            </div>
                            <div class="box-body">
                                <h1 class="font-light text-white">
                                    <span class="count">{{ coupon.uid }}</span>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}