{% extends 'back_office/layout.html.twig' %}

{% block title %} Liste des coupons générés {% endblock %}

{% block breadcrumb %} Liste des coupons générés {% endblock %}

{% block container %}
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-12 col-12">
                <!-- Basic Forms -->
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            Liste des coupons générés
                        </h4>
                        <a style="float: right;"  href="{{ path('back_office_print_coupon', { genId: genId }) }}" class=" btn btn-sm btn-rounded btn-outline-info" id="add_file">
                            <i class="fa fa-print"></i> Imprimer
                        </a>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            {% for coupon in coupons %}
                                <div class="col-md-6 col-lg-4 col-xlg-4">
                                    <div class="card">
                                        <div class="box bg-orange text-center" style="height: 200px;">
                                            <div class="box-header">
                                                <h6 style="margin-top: 15px" class="text-white">Coupon CAKKET</h6>
                                            </div>
                                            <div class="box-body">
                                                <h1 class="font-light text-white">
                                                    <span class="count">{{ coupon.uid }}</span>
                                                </h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">

                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}