{% extends 'back_office/layout.html.twig' %}

{% block title %} Liste des produits {% endblock %}

{% block breadcrumb %} Liste des produits {% endblock %}

{% block container %}
    <!-- Main content -->
    <section class="content">
        <div class="row">

            <div class="col-10">

                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Liste</h3>
                        <a style="float: right;"  href="{{ path('back_office_add_product') }}" class=" btn btn-sm btn-rounded btn-outline-info" id="add_file">
                            Ajouter un product
                        </a>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="example5" class="table table-bordered table-striped" style="width:100%">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Libellé</th>
                                    <th>Prix</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                        <tr>
                                            <th>
                                                <img class="img-responsive rounded pull-left mr-20 mb-10" width="60"
                                                     alt="img" src="{{ asset(product.media.webPath) }}">
                                            </th>
                                            <th>{{ product.name }}</th>
                                            <th>{{ product.price }} F CFA</th>
                                            <th>
                                                <div class="btn-group">
                                                    <a href="{{ path('back_office_show_product', {id: product.id}) }}" class="btn btn-sm btn-success"><i class="fa fa-eye"></i></a>
                                                    <a href="{{ path('back_office_edit_product', {id: product.id}) }}" class="btn btn-sm btn-info"><i class="fa fa-edit"></i></a>
                                                    <a href="{{ path('back_office_delete_product', {id: product.id}) }}" onclick="deleteHandler(event, this)" class="btn btn-sm btn-warning"><i class="fa fa-trash-o"></i></a>
                                                </div>
                                            </th>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Libellé</th>
                                        <th>Prix</th>
                                            <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
            var $container = $('div#appbundle_product_medias');

            // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
            var index = $container.find('input').length;

            // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
            $('#add_file').click(function (e) {
                addFile($container);
                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                return false;
            });

            // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
            if (index === 0) {
                addFile($container);
            } else {
                // S'il existe déjà des catégories, on ajoute un lien de suppression pour chacune d'entre elles
                $container.children('div').each(function (i) {
                    addDeleteLink($(this));
                    // Et aussi un libelle correct
                    $($(this).children('label')[0]).text('Image n°' + (i+1))
                });
            }

            // La fonction qui ajoute un formulaire CategoryType
            function addFile($container) {
                // Dans le contenu de l'attribut « data-prototype », on remplace :
                // - le texte "__name__label__" qu'il contient par le label du champ
                // - le texte "__name__" qu'il contient par le numéro du champ
                var template = $container.attr('data-prototype')
                    .replace(/__name__label__/g, 'Image n°' + (index + 1))
                    .replace(/__name__/g, index)
                    .replace('<div><label', '<div class="row"><label')
                ;
                // On crée un objet jquery qui contient ce template
                var $prototype = $(template);

                // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
                addDeleteLink($prototype);

                // On ajoute le prototype modifié à la fin de la balise <div>
                $container.append($prototype);

                var idMess = 'appbundle_product_medias' + index + '_filename';

                // CKEDITOR.replace(idMess);

                // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                index++;
            }

            // La fonction qui ajoute un lien de suppression d'une catégorie
            function addDeleteLink($prototype) {
                // Création du lien
                var $deleteLink = $('<button type="button" href="#" class="btn btn-sm btn-outline-danger m-t-5 m-b-10 col-2"><i class="fa fa-trash"></i></button>');

                // Ajout du lien
                $prototype.append($deleteLink);

                // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
                $deleteLink.click(function (e) {
                    $prototype.remove();

                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    return false;
                });
            }
        });
    </script>
{% endblock %}