{% extends 'back_office/layout.html.twig' %}

{% block title %} Liste des produits {% endblock %}

{% block breadcrumb %} Liste des produits {% endblock %}

{% block container %}
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-10 col-10">
                <!-- Basic Forms -->
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Créer un produit</h4>
                        <ul class="box-controls pull-right">
                            {#<li><a class="box-btn-close" href="#"></a></li>#}
                            <li><a class="box-btn-slide" href="#"></a></li>
                            {#<li><a class="box-btn-fullscreen" href="#"></a></li>#}
                        </ul>
                    </div>
                    <!-- /.box-header -->
                    {{ form_start(form) }}
                        <div class="box-body">
                            <h4 class="mt-0 mb-20"></h4>
                            <div class="form-group">
                                <label>{{ form_label(form.category) }}</label>
                                {{ form_widget(form.category, {attr: { class: 'form-control' }}) }}
                            </div>
                            <div class="form-group">
                                <label>{{ form_label(form.name) }}</label>
                                {{ form_widget(form.name, {attr: { class: 'form-control', placeholder: 'Libéllé' }}) }}
                            </div>
                            <div class="form-group">
                                <label>{{ form_label(form.price) }}</label>
                                {{ form_widget(form.price, {attr: { class: 'form-control', placeholder: 'Prix' }}) }}
                            </div>
                            <div class="form-group">
                                <label>{{ form_label(form.stock) }}</label>
                                {{ form_widget(form.stock, {attr: { class: 'form-control', placeholder: 'Stock' }}) }}
                            </div>
                            <div class="form-group">
                                <label>{{ form_label(form.description) }}</label>
                                {{ form_widget(form.description, {attr: { class: 'form-control', placeholder: 'Description' }}) }}
                            </div>
                            <div class="demo-checkbox">
                                {{ form_widget(form.featured) }}
                                {{ form_label(form.featured) }}
                            </div>
                            <div class="form-group">
                                <label>Image de mise en avant:</label>
                                {{ form_widget(form.media.file, {attr: { class: 'form-control'}}) }}
                            </div>
                            <hr>
                            <div class="form-group">
                                <label style="width: 100%;">Autres images:
                                    <a style="float: right;" class=" btn btn-sm btn-rounded btn-outline-info" id="add_file">
                                        Ajouter une autre image
                                    </a>
                                </label>
                                {{ form_widget(form.medias, {attr: { class: 'form-control'}}) }}
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <input type="submit" class="btn btn-success" value="Enregistrer">
                        </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
            var $container = $('div#product_medias');

            // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
            var index = $container.find('input').length;

            // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
            $('#add_file').click(function (e) {
                addFile($container);
                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                return false;
            });

            // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
            if (index === 0) {
                addFile($container);
            } else {
                // S'il existe déjà des catégories, on ajoute un lien de suppression pour chacune d'entre elles
                $container.children('div').each(function (i) {
                    addDeleteLink($(this));
                    // Et aussi un libelle correct
                    $($(this).children('label')[0]).text('Image n°' + (i+1))
                });
            }

            // La fonction qui ajoute un formulaire CategoryType
            function addFile($container) {
                // Dans le contenu de l'attribut « data-prototype », on remplace :
                // - le texte "__name__label__" qu'il contient par le label du champ
                // - le texte "__name__" qu'il contient par le numéro du champ
                var template = $container.attr('data-prototype')
                    .replace(/__name__label__/g, 'Image n°' + (index + 1))
                    .replace(/__name__/g, index)
                    .replace('<div><label', '<div class="row"><label')
                ;
                // On crée un objet jquery qui contient ce template
                var $prototype = $(template);

                // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
                addDeleteLink($prototype);

                // On ajoute le prototype modifié à la fin de la balise <div>
                $container.append($prototype);

                var idMess = 'product_medias' + index + '_filename';

                // CKEDITOR.replace(idMess);

                // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                index++;
            }

            // La fonction qui ajoute un lien de suppression d'une catégorie
            function addDeleteLink($prototype) {
                // Création du lien
                var $deleteLink = $('<a href="javascript:void(0)" class="btn btn-sm btn-danger" style="height: min-content;"><i class="fa fa-trash-o"></i></a>');

                // Ajout du lien
                $prototype.append($deleteLink);

                // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
                $deleteLink.click(function (e) {
                    $prototype.remove();

                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    return false;
                });
            }
        });
    </script>
{% endblock %}