{% extends 'back_office/layout.html.twig' %}

{% block title %} Afficher le produit {% endblock %}

{% block breadcrumb %} Afficher le produit {% endblock %}

{% block container %}
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-8 col-8">
                <!-- Basic Forms -->
                <div class="box">
                    <div class="box-header with-border">
                        <h4>Détail sur le produit</h4>
                        <ul class="box-controls pull-right">
                            {#<li><a class="box-btn-close" href="#"></a></li>#}
                            <li><a class="box-btn-slide" href="#"></a></li>
                            {#<li><a class="box-btn-fullscreen" href="#"></a></li>#}
                        </ul>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="font-weight: 500; font-size: 1rem;">
                        <h4 class="mt-0 mb-20"></h4>
                        <div class="row">
                            <div class="col-5">Catégorie: </div>
                            <div class="col-7">{% if product.category %}{{ product.category.name }}{% endif %}</div>
                        </div>
                        <div class="row">
                            <div class="col-5">Libellé: </div>
                            <div class="col-7">{{ product.name }}</div>
                        </div>
                        <div class="row">
                            <div class="col-5">Prix: </div>
                            <div class="col-7">{{ product.price }}</div>
                        </div>
                        <div class="row">
                            <div class="col-5">Stock: </div>
                            <div class="col-7">{{ product.stock }}</div>
                        </div>
                        <div class="row">
                            <div class="col-5">Description: </div>
                            <div class="col-7">{{ product.description }}</div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <div class="col-4">
                <div class="box box-default">
                    <img class="card-img-top border-bottom img-responsive" src="{{ asset(product.media.webPath) }}" alt="Image">
                    <div class="box-body row">
                        {% for pm in product.medias %}
                            <img class="card-img-top border-left border-right col-4 img-responsive" src="{{ asset(pm.media.webPath) }}" alt="Image">
                        {% endfor %}
                    </div>
                    <!-- /.box-body -->
                </div>
                <hr>

            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
            var $container = $('div#appbundle_product_medias');

            // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
            var index = $container.find('input').length;

            // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
            $('#add_file').click(function (e) {
                addFile($container);
                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                return false;
            });

            // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
            if (index === 0) {
                addFile($container);
            } else {
                // S'il existe déjà des catégories, on ajoute un lien de suppression pour chacune d'entre elles
                $container.children('div').each(function (i) {
                    addDeleteLink($(this));
                    // Et aussi un libelle correct
                    $($(this).children('label')[0]).text('Image n°' + (i+1))
                });
            }

            // La fonction qui ajoute un formulaire CategoryType
            function addFile($container) {
                // Dans le contenu de l'attribut « data-prototype », on remplace :
                // - le texte "__name__label__" qu'il contient par le label du champ
                // - le texte "__name__" qu'il contient par le numéro du champ
                var template = $container.attr('data-prototype')
                    .replace(/__name__label__/g, 'Image n°' + (index + 1))
                    .replace(/__name__/g, index)
                    .replace('<div><label', '<div class="row"><label')
                ;
                // On crée un objet jquery qui contient ce template
                var $prototype = $(template);

                // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
                addDeleteLink($prototype);

                // On ajoute le prototype modifié à la fin de la balise <div>
                $container.append($prototype);

                var idMess = 'appbundle_product_medias' + index + '_filename';

                // CKEDITOR.replace(idMess);

                // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                index++;
            }

            // La fonction qui ajoute un lien de suppression d'une catégorie
            function addDeleteLink($prototype) {
                // Création du lien
                var $deleteLink = $('<button type="button" href="#" class="btn btn-sm btn-outline-danger m-t-5 m-b-10 col-2"><i class="fa fa-trash"></i></button>');

                // Ajout du lien
                $prototype.append($deleteLink);

                // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
                $deleteLink.click(function (e) {
                    $prototype.remove();

                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    return false;
                });
            }
        });
    </script>
{% endblock %}