<!DOCTYPE html>
<html lang="fr" class="no-js">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ asset('logo.png') }}">
    {% block meta %}{% endblock %}
    <title>{% block title %}Cakket{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <!--Toaster Popup message CSS -->
    <link href="{{ asset('back_office/vendor_components/toast-master/css/jquery.toast.css') }}" rel="stylesheet">
</head>
<body {% block body_id %}{% endblock %}>
{% block body %}{% endblock %}

<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<!-- jQuery 3 -->
<script src="{{ asset('back_office/vendor_components/jquery-3.3.1/jquery-3.3.1.js') }}"></script>
<script src="{{ asset('back_office/vendor_components/toast-master/js/jquery.toast.js') }}"></script>

{% block javascripts %}{% endblock %}
<!-- ============================================================== -->
<!-- All notification -->
<!-- ============================================================== -->
<script>

    {% for msg in app.session.flashBag.get('notification') %}
        //This is for the Notification top right
        jQuery.toast({
            heading: 'Notification',
            text: '{{ msg }}',
            position: 'top-right',
            loaderBg: '#ff6849',
            icon: 'info',
            hideAfter: 3500,
            stack: 6
        });
    {% endfor %}

    {% for msg in app.session.flashBag.get('error') %}
        //This is for the Notification top right
        jQuery.toast({
            heading: 'Notification',
            text: '{{ msg }}',
            position: 'top-right',
            loaderBg: '#ff6849',
            icon: 'danger',
            hideAfter: 3500,
            stack: 6
        });
    {% endfor %}
</script>

</body>
</html>
