<footer class="main-footer">
    <div class="pull-right d-none d-sm-inline-block">
        <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Made by</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" >ConqLab</a>
            </li>
        </ul>
    </div>
    &copy; 2018 . Tous droits réservés.
</footer>