<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar">

        <!-- sidebar menu-->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="user-profile treeview">
                {% if is_granted('ROLE_USER') %}
                    <a href="">
                        <i class="fa fa-user"></i>
                        <span>{{ app.user.email }}</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-right pull-right"></i>
                        </span>
                    </a>
                {% endif %}
                <ul class="treeview-menu">
                    <li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user mr-5"></i> Profil </a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off mr-5"></i>Se déconnecter</a></li>
                </ul>
            </li>
            <li class="header nav-small-cap">Gestion du shop</li>
            <li class="active">
                <a href="{{ path('back_office') }}">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="{{ path('shop') }}">
                    <i class="fa fa-home"></i> <span>Shop</span>
                </a>
            </li>
            <li class="treeview">
                <a href="javascript:void()">
                    <i class="fa fa-th"></i>
                    <span>Les Produits</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('back_office_add_product') }}"><i class="fa fa-circle-thin"></i>Ajouter</a></li>
                    <li><a href="{{ path('back_office_product') }}"><i class="fa fa-circle-thin"></i>Liste</a></li>
                    <li><a href="{{ path('back_office_product') }}"><i class="fa fa-circle-thin"></i>Gestion de stock</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-bars"></i> <span>Les Catégories</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('back_office_add_category') }}"><i class="fa fa-circle-thin"></i>Ajouter</a></li>
                    <li><a href="{{ path('back_office_category') }}"><i class="fa fa-circle-thin"></i>Liste</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-shopping-cart"></i>
                    <span>Les Ventes</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('back_office_command') }}"><i class="fa fa-circle-thin"></i>Tous</a></li>
                    <li><a href="{{ path('back_office_command', {paid: 1}) }}"><i class="fa fa-circle-thin"></i>Payées</a></li>
                    <li><a href="{{ path('back_office_command', {paid: 0}) }}"><i class="fa fa-circle-thin"></i>Non Payées</a></li>
                </ul>
            </li>
            <li class="header nav-small-cap">Extras</li>
            <li class="treeview">
                <a href="javascript:void(0)">
                    <i class="fa fa-list"></i> <span>Gestion du Blog</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('back_office_blog_post') }}"><i class="fa fa-circle-thin"></i>Articles</a></li>
                    <li><a href="{{ path('back_office_blog_category') }}"><i class="fa fa-circle-thin"></i>Catégories d'article</a></li>
                    <li><a href="{{ path('back_office_blog_tag') }}"><i class="fa fa-circle-thin"></i>Etiquettes</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span>Les Utilisateurs</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('back_office_customer') }}"><i class="fa fa-circle-thin"></i>Liste</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-cogs"></i>
                    <span>Paramètres</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('back_office_settings_site') }}"><i class="fa fa-circle-thin"></i>Site</a></li>
                    <li class="treeview">
                        <a href="advanced.html#"><i class="fa fa-circle-thin"></i>Promotions
                            <span class="pull-right-container">
                              <i class="fa fa-angle-right pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('back_office_add_promotion') }}"><i class="fa fa-circle"></i>Ajouter</a></li>
                            <li><a href="{{ path('back_office_promotion') }}"><i class="fa fa-circle"></i>Liste des promotions</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="advanced.html#"><i class="fa fa-circle-thin"></i>Coupons
                            <span class="pull-right-container">
                              <i class="fa fa-angle-right pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('back_office_add_coupon') }}"><i class="fa fa-circle"></i>Ajouter</a></li>
                            <li><a href="{{ path('back_office_coupon') }}"><i class="fa fa-circle"></i>Coupons générés</a></li>
                        </ul>
                    </li>
                    {#<li><a href="{{ path('back_office_settings_site') }}">"><i class="fa fa-circle-thin"></i>Collapsed Sidebar</a></li>#}
                </ul>
            </li>
        </ul>
    </section>
</aside>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-light">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        {#<li class="nav-item"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>#}
        {#<li class="nav-item"><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-cog fa-spin"></i></a></li>#}
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Home tab content -->
        <div class="tab-pane" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Recent Activity</h3>
            <ul class="control-sidebar-menu">
                <li>
                    <a href="javascript:void(0)">
                        <i class="menu-icon fa fa-birthday-cake bg-danger"></i>

                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">Admin Birthday</h4>

                            <p>Will be July 24th</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="menu-icon fa fa-user bg-warning"></i>

                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">Jhone Updated His Profile</h4>

                            <p>New Email : jhone_doe@demo.com</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="menu-icon fa fa-envelope-o bg-info"></i>

                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">Disha Joined Mailing List</h4>

                            <p>disha@demo.com</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="menu-icon fa fa-file-code-o bg-success"></i>

                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">Code Change</h4>

                            <p>Execution time 15 Days</p>
                        </div>
                    </a>
                </li>
            </ul>
            <!-- /.control-sidebar-menu -->

            <h3 class="control-sidebar-heading">Tasks Progress</h3>
            <ul class="control-sidebar-menu">
                <li>
                    <a href="javascript:void(0)">
                        <h4 class="control-sidebar-subheading">
                            Web Design
                            <span class="label label-danger pull-right">40%</span>
                        </h4>

                        <div class="progress progress-xxs">
                            <div class="progress-bar progress-bar-danger" style="width: 40%"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <h4 class="control-sidebar-subheading">
                            Update Data
                            <span class="label label-success pull-right">75%</span>
                        </h4>

                        <div class="progress progress-xxs">
                            <div class="progress-bar progress-bar-success" style="width: 75%"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <h4 class="control-sidebar-subheading">
                            Order Process
                            <span class="label label-warning pull-right">89%</span>
                        </h4>

                        <div class="progress progress-xxs">
                            <div class="progress-bar progress-bar-warning" style="width: 89%"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <h4 class="control-sidebar-subheading">
                            Development
                            <span class="label label-primary pull-right">72%</span>
                        </h4>

                        <div class="progress progress-xxs">
                            <div class="progress-bar progress-bar-primary" style="width: 72%"></div>
                        </div>
                    </a>
                </li>
            </ul>
            <!-- /.control-sidebar-menu -->

        </div>
        <!-- /.tab-pane -->
    </div>
</aside>
<!-- /.control-sidebar -->
