<header class="main-header">
    <!-- Logo -->
    <a href="" class="logo">
        <!-- mini logo -->
        <b class="logo-mini">
            <span class="light-logo"><img src="{{ asset('logo.png') }}" style="height: 50px;" alt="logo"></span>
            <span class="dark-logo"><img src="{{ asset('logo.png') }}" style="height: 50px;" alt="logo"></span>
        </b>
        <!-- logo-->
        {#<span class="logo-lg">#}
		  {#<img src="{{ asset('assets/admin/images/logo-light-text.png') }}" alt="logo" class="light-logo">#}
	  	  {#<img src="{{ asset('assets/admin/images/logo-dark-text.png') }}" alt="logo" class="dark-logo">#}
	  {#</span>#}
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <div>
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
        </div>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <li class="search-box">
                    <a class="nav-link hidden-sm-down" href="javascript:void(0)"><i class="mdi mdi-magnify"></i></a>
                    <form class="app-search" style="display: none;">
                        <input type="text" class="form-control" placeholder="Rechercher &amp; tapper sur Entrée"> <a class="srh-btn"><i class="ti-close"></i></a>
                    </form>
                </li>

                <!-- User Account-->
                <li class="dropdown user user-menu">
                    <a href="javascript:void()" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i>
                    </a>
                    <ul class="dropdown-menu scale-up">
                        <!-- User image -->
                        <li class="user-header">
                            <i class="fa fa-user"></i>
                            {% if is_granted('ROLE_USER') %}
                                <p>
                                    {{ app.user.firstName ~ ' ' ~ app.user.lastName }}
                                    <small class="mb-5">{{ app.user.email }}</small>
                                </p>
                            {% endif %}
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="row no-gutters">
                                <div class="col-12 text-left">
                                    <a href="{{ path('fos_user_profile_show') }}"><i class="ion ion-person"></i> Profil</a>
                                </div>
                                <div role="separator" class="divider col-12"></div>
                                <div class="col-12 text-left">
                                    <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i> Déconnexion</a>
                                </div>
                            </div>
                            <!-- /.row -->
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="javascript:void(0)" data-toggle="control-sidebar"><i class="fa fa-cog fa-spin"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>


<!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>
