{% extends 'back_office/layout.html.twig' %}

{% block title %} Liste des clients {% endblock %}

{% block breadcrumb %} Liste des clients {% endblock %}

{% block container %}
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-10">

                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Clients
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="example5" class="table table-bordered table-striped" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Nom</th>
                                    <th>Prénoms</th>
                                    <th>Tel</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for customer in customers %}
                                    <tr>
                                        <th>{{ customer.email }}</th>
                                        <th>{{ customer.lastName }}</th>
                                        <th>{{ customer.firstName }}</th>
                                        <th>{{ customer.tel }}</th>
                                        <th>
                                            <div class="btn-group">
                                                <a href="{{ path('back_office_show_user', {id: customer.id}) }}" class="btn btn-sm btn-success"><i class="fa fa-eye"></i></a>
                                            </div>
                                        </th>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Email</th>
                                    <th>Nom</th>
                                    <th>Prénoms</th>
                                    <th>Tel</th>
                                    <th>Action</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}
