{% extends 'back_office/layout.html.twig' %}

{% block title %} Détail sur le client {% endblock %}

{% block breadcrumb %} Détail sur le client {% endblock %}

{% block container %}
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-6 col-6">
                <!-- Basic Forms -->
                <div class="box">
                    <div class="box-header with-border">
                        <h4>Détail sur le client</h4>
                        <ul class="box-controls pull-right">
                            {#<li><a class="box-btn-close" href="#"></a></li>#}
                            <li><a class="box-btn-slide" href="#"></a></li>
                            {#<li><a class="box-btn-fullscreen" href="#"></a></li>#}
                        </ul>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="font-weight: 500; font-size: 1rem;">
                        <h4 class="mt-0 mb-20"></h4>
                        <div class="row">
                            <div class="col-5">Nom: </div>
                            <div class="col-7">{{ user.lastName }}</div>
                        </div>
                        <div class="row">
                            <div class="col-5">Prénoms: </div>
                            <div class="col-7">{{ user.firstName }}</div>
                        </div>
                        <div class="row">
                            <div class="col-5">Email: </div>
                            <div class="col-7">{{ user.email }}</div>
                        </div>
                        <div class="row">
                            <div class="col-5">Tel: </div>
                            <div class="col-7">{{ user.tel }}</div>
                        </div>
                        {#<div class="row">#}
                            {#<div class="col-5">Adresse: </div>#}
                            {#<div class="col-7">{{ user }}</div>#}
                        {#</div>#}
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <div class="col-6">
                <div class="box box-default">
                    <div class="box-body row">
                        <div class="table-responsive">
                            <table id="example5" class="table table-bordered table-striped" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Montant</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for purchase in userPurchases %}
                                    <tr>
                                        <th>
                                           {{ purchase.createdAt|date('d/m/Y') }}
                                        </th>
                                        <th>{{ purchase.price }}</th>
                                        <th>
                                            <div class="btn-group">
                                                <a href="{{ path('admin_show_command', {id: purchase.id}) }}" class="btn btn-sm btn-success"><i class="fa fa-eye"></i></a>
                                            </div>
                                        </th>
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td colspan="3" class="alert alert-danger"> Aucune commande.</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Date</th>
                                    <th>Montant</th>
                                    <th>Action</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <hr>

            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}
