{% extends 'back_office/layout.html.twig' %}

{% block title %} Liste des articles {% endblock %}

{% block breadcrumb %} Liste des articles {% endblock %}

{% block container %}
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-10">

                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Liste des différentes articles</h3>
                        <a style="float: right;"  href="{{ path('back_office_add_blog_post') }}" class=" btn btn-sm btn-rounded btn-outline-info" id="add_file">
                            Ajouter un article
                        </a>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="example5" class="table table-bordered table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Contenu</th>
                                        <th>Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for post in posts %}
                                        <tr>
                                            <th>{{ post.title }}</th>
                                            <th>{{ post.content|raw }}</th>
                                            <th>{{ post.createdAt | date('d/m/Y') }}</th>
                                            <th>
                                                <div class="btn-group">
                                                    <a href="{{ path('back_office_show_blog_post', {id: post.id}) }}" class="btn btn-sm btn-success"><i class="fa fa-eye"></i></a>
                                                    <a href="{{ path('back_office_edit_blog_post', {id: post.id}) }}" class="btn btn-sm btn-info"><i class="fa fa-edit"></i></a>
                                                    <a href="{{ path('back_office_delete_blog_post', {id: post.id}) }}" class="btn btn-sm btn-warning" onclick="deleteHandler(event, this)"><i class="fa fa-trash-o"></i></a>
                                                </div>
                                            </th>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Libellé</th>
                                    <th>Description</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}
