{% extends 'back_office/layout.html.twig' %}

{% block title %} Ajouter un article {% endblock %}

{% block deps %}
    <link rel="stylesheet" href="{{ asset('back_office/vendor_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('back_office/vendor_plugins/timepicker/bootstrap-timepicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('') }}">
    <link rel="stylesheet" href="{{ asset('back_office/vendor_components/select2/dist/css/select2.min.css') }}">
    <style>
        #show_logo { max-height: 130px!important; }
    </style>
{% endblock %}

{% block breadcrumb %} Ajouter un article {% endblock %}

{% block container %}
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-10 col-10">
                <!-- Basic Forms -->
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Créer un article</h4>
                        <ul class="box-controls pull-right">
                            {#<li><a class="box-btn-close" href="#"></a></li>#}
                            <li><a class="box-btn-slide" href="#"></a></li>
                            {#<li><a class="box-btn-fullscreen" href="#"></a></li>#}
                        </ul>
                    </div>
                    <!-- /.box-header -->
                    {{ form_start(form) }}
                    <div class="box-body">
                        <h4 class="mt-0 mb-20"></h4>
                        <div class="form-group">
                            <label>{{ form_label(form.category) }}</label>
                            {{ form_widget(form.category, {attr: { class: 'form-control' }}) }}
                        </div>
                        <div class="form-group">
                            <label>{{ form_label(form.title) }}</label>
                            {{ form_widget(form.title, {attr: { class: 'form-control', placeholder: 'Titre' }}) }}
                        </div>
                        <div class="form-group">
                            <label>{{ form_label(form.content) }}</label>
                            {{ form_widget(form.content, {attr: { class: 'form-control', placeholder: 'Contenu' }}) }}
                        </div>
                        <div class="form-group">
                            <label>Image de mise en avant </label>
                            {{ form_widget(form.media.file, {attr: { class: 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            <label>Etiquettes</label>
                            {{ form_widget(form.tags, { attr: { id: 'tags', 'data-placeholder': 'Selectionner'}}) }}
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <input type="submit" class="btn btn-success" value="Enregistrer">
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('back_office/vendor_components/select2/dist/js/select2.full.js') }}"></script>
    <script src="{{ asset('back_office/vendor_components/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('back_office/vendor_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('back_office/vendor_plugins/input-mask/jquery.inputmask.js') }}"></script>
    <script src="{{ asset('back_office/vendor_plugins/input-mask/jquery.inputmask.date.extensions.js') }}"></script>
    <script src="{{ asset('back_office/vendor_plugins/input-mask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back_office/js/pages/advanced-form-element.js') }}"></script>
    <script>
{% endblock %}