{% extends 'back_office/layout.html.twig' %}

{% block title %} Afficher l'article {% endblock %}

{% block breadcrumb %} Afficher l'article {% endblock %}

{% block container %}
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-12 col-12">
                <!-- Basic Forms -->
                <div class="box">
                    <div class="box-header with-border">
                        <h4>Détail sur l'article</h4>
                        <ul class="box-controls pull-right">
                            {#<li><a class="box-btn-close" href="#"></a></li>#}
                            <li><a class="box-btn-slide" href="#"></a></li>
                            {#<li><a class="box-btn-fullscreen" href="#"></a></li>#}
                        </ul>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="font-weight: 500; font-size: 1rem;">
                        <h4 class="mt-0 mb-20"></h4>
                        <div class="row">
                            <div class="col-5">Catégorie: </div>
                            <div class="col-7">{% if post.category %}{{ post.category.name }}{% endif %}</div>
                        </div>
                        <div class="row">
                            <div class="col-5">Titre: </div>
                            <div class="col-7">{{ post.title }}</div>
                        </div>
                        <div class="row">
                            <div class="col-5">Nombre de vue: </div>
                            <div class="col-7"><span class="badge badge-info">{{ post.views }}</span></div>
                        </div>
                        <hr>
                        <br>
                        <div class="row">
                            <div class="col-5">Contenu: </div>
                            <div class="col-7">{{ post.content|raw }}</div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}
