{% extends 'back_office/layout.html.twig' %}

{% block title %} Liste des commandes {% endblock %}

{% block breadcrumb %} Liste des commandes {% endblock %}

{% block container %}
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-10">

                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Commandes
                            {% if paid is not null %}
                                {% if paid == 1 %} Payées
                                {% elseif paid == 0 %} Non Payées {% endif %}
                            {% endif %}
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="example5" class="table table-bordered table-striped" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Client</th>
                                    <th>Prix</th>
                                    <th>Etat</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for p in purchases %}
                                    <tr>
                                        <td>{{ p.createdAt|date('d/m/Y') }}</td>
                                        <td>{% if p.paid %}{{ p.customer.email }}
                                            {% else %} <span class="badge badge-pill badge-warning">Invité</span>
                                            {% endif %}
                                        </td>
                                        <td>{{ p.amount }} F CFA</td>
                                        <td>{% if p.paid %} <span class="badge badge-pill badge-success">Payé</span>
                                            {% else %} <span class="badge badge-pill badge-warning">Non Payé</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="{{ path('back_office_show_command', {id: p.id}) }}" class="btn btn-sm btn-success"><i class="fa fa-eye"></i></a>
                                                {#<a href="{{ path('admin_delete_product', {id: product.id}) }}" class="btn btn-sm btn-warning"><i class="fa fa-trash-o"></i></a>#}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Date</th>
                                    <th>Client</th>
                                    <th>Prix</th>
                                    <th>Etat</th>
                                    <th>Action</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}
