{% extends 'back_office/layout.html.twig' %}

{% block title %} Détail sur la commande {% endblock %}

{% block breadcrumb %} Détail sur la commande {% endblock %}

{% block container %}
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-8 col-8">
                <!-- Basic Forms -->
                <div class="box">
                    <div class="box-header with-border">
                        <h4>Détail sur la commande</h4>
                        <ul class="box-controls pull-right">
                            {#<li><a class="box-btn-close" href="#"></a></li>#}
                            <li><a class="box-btn-slide" href="#"></a></li>
                            {#<li><a class="box-btn-fullscreen" href="#"></a></li>#}
                        </ul>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="font-weight: 500; font-size: 1rem;">
                        <h4 class="mt-0 mb-20"></h4>
                        <div class="row">
                            <div class="col-5">Utilisateur: </div>
                            <div class="col-7">{% if purchase.customer %}{{ purchase.customer.email }}{% endif %}</div>
                        </div>
                        <div class="row">
                            <div class="col-5">Montant: </div>
                            <div class="col-7">{{ purchase.amount }}</div>
                        </div>
                        <div class="row">
                            <div class="col-5">Date: </div>
                            <div class="col-7">{{ purchase.createdAt|date('d/m/Y') }}</div>
                        </div>
                        <div class="row">
                            <div class="col-5">Etat: </div>
                            <div class="col-7">
                                {% if purchase.paid %} <span class="badge badge-pill badge-success">Payé</span>
                                {% else %} <span class="badge badge-pill badge-warning">Non Payé</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <div class="col-4">
                <div class="box box-default">
                    <div class="box-body row">
                        <div class="table-responsive">
                            <table id="example5" class="table table-bordered table-striped" style="width:100%">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Libellé</th>
                                    <th>Prix</th>
                                    <th>Qté</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for c in purchase.lines %}
                                    <tr>
                                        <th>
                                            <img class="img-responsive rounded pull-left mr-20 mb-10" width="60"
                                                 alt="img" src="{{ asset(c.product.media.webPath) }}">
                                        </th>
                                        <th>{{ c.product.name }}</th>
                                        <th>{{ c.product.price }} F CFA</th>
                                        <th>{{ c.qty }}</th>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Libellé</th>
                                    <th>Prix</th>
                                    <th>Qté</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <hr>

            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}
