{% extends 'back_office/layout.html.twig' %}

{% block breadcrumb %} Dashboard {% endblock %}

{% block container %}
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xl-3 col-md-6 col-12">
                <div class="box box-body">
                    <h6 class="text-uppercase">Produits</h6>
                    <div class="flexbox mt-2">
                        <span class="fa fa-th text-danger font-size-40"></span>
                        <span class=" font-size-30">{{ productsCount() }}</span>
                    </div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-xl-3 col-md-6 col-12">
                <div class="box box-body">
                    <h6 class="text-uppercase">Catégories</h6>
                    <div class="flexbox mt-2">
                        <span class="fa fa-bars text-info font-size-40"></span>
                        <span class=" font-size-30">{{ categoriesCount() }}</span>
                    </div>
                </div>
            </div>
            <!-- /.col -->

            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>

            <div class="col-xl-3 col-md-6 col-12">
                <div class="box box-body">
                    <h6 class="text-uppercase">Clients</h6>
                    <div class="flexbox mt-2">
                        <span class="fa fa-user-plus font-size-40 text-primary"></span>
                        <span class=" font-size-30">{{ customersCount() }}</span>
                    </div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-xl-3 col-md-6 col-12">
                <div class="box box-body">
                    <h6 class="text-uppercase">Ventes</h6>
                    <div class="flexbox mt-2">
                        <span class="fa fa-shopping-cart font-size-40 text-success"></span>
                        <span class=" font-size-30">{{ commandsCount() }}</span>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>

        <div class="row">

            <div class="col-12 col-lg-6">
                <!-- AREA CHART -->
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Job Statistics</h4>
                        <ul class="box-controls pull-right">
                            <li><a class="box-btn-close" href="#"></a></li>
                            <li><a class="box-btn-slide" href="#"></a></li>
                            <li><a class="box-btn-fullscreen" href="#"></a></li>
                        </ul>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <canvas id="chart_2" height="120"></canvas>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>

            <div class="col-12 col-lg-6">
                <!-- AREA CHART -->
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Ads Stats</h4>
                        <ul class="box-controls pull-right">
                            <li><a class="box-btn-close" href="#"></a></li>
                            <li><a class="box-btn-slide" href="#"></a></li>
                            <li><a class="box-btn-fullscreen" href="#"></a></li>
                        </ul>
                    </div>
                    <div class="box-body">
                        <div class="">
                            <canvas id="satatistics1" height="120" style="position: absolute;"></canvas>
                            <canvas id="satatistics2" height="120"></canvas>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>


            <div class="col-12 col-lg-6">
                <!-- AREA CHART -->
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Job Statistics</h4>
                        <ul class="box-controls pull-right">
                            <li><a class="box-btn-close" href="#"></a></li>
                            <li><a class="box-btn-slide" href="#"></a></li>
                            <li><a class="box-btn-fullscreen" href="#"></a></li>
                        </ul>
                    </div>
                    <div class="box-body">
                        <div class="chart-responsive">
                            <div class="chart" id="bar-chart" style="height: 300px;"></div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>

            <div class="col-12 col-lg-6">
                <!-- AREA CHART -->
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Revenue Statistics</h4>

                        <ul class="box-controls pull-right">
                            <li><a class="box-btn-close" href="#"></a></li>
                            <li><a class="box-btn-slide" href="#"></a></li>
                            <li><a class="box-btn-fullscreen" href="#"></a></li>
                        </ul>
                    </div>
                    <div class="box-body chart-responsive">
                        <div class="chart" id="revenue-chart" style="height: 300px;"></div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Fab Admin dashboard demo (This is only for demo purposes) -->
    <script src="{{ asset('back_office/js/pages/dashboard.js') }}"></script>
{% endblock %}
