{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Dashboard {% endblock %}

{% block stylesheets %}
    <!-- Bootstrap 4.0-->
    <link rel="stylesheet" href="{{ asset('back_office/vendor_components/bootstrap/dist/css/bootstrap.css') }}">

    <!-- Bootstrap extend-->
    <link rel="stylesheet" href="{{ asset('back_office/css/bootstrap-extend.css') }}">

    {% block deps %}    {% endblock %}

    <!-- theme style -->
    <link rel="stylesheet" href="{{ asset('back_office/css/master_style.css') }}">

    <!-- Fab Admin skins -->
    <link rel="stylesheet" href="{{ asset('back_office/css/skins/_all-skins.css') }}">

    <!-- Vector CSS -->
    <link href="{{ asset('back_office/vendor_components/jvectormap/lib2/jquery-jvectormap-2.0.2.css') }}" rel="stylesheet" />

    <!-- Morris charts -->
    <link rel="stylesheet" href="{{ asset('back_office/vendor_components/morris.js/morris.css') }}">

    {# Swal #}
    <link rel="stylesheet" href="{{ asset('back_office/vendor_components/sweetalert/sweetalert2.css') }}">

    <!-- Data table -->
    <link rel="stylesheet" href="{{ asset('back_office/vendor_components/datatable/datatables.min.css') }}">

    <!--I check -->
    <link rel="stylesheet" href="{{ asset('back_office/vendor_plugins/iCheck/all.css') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        .hide_label {
            display: none;
        }
        .with_hidden_label {
            margin-top: 10px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="wrapper">
        {% block topbar %}
            {% include 'back_office/partials/topbar.html.twig' %}
        {% endblock %}

        {% block sidebar %}
            {% include 'back_office/partials/sidebar.html.twig' %}
        {% endblock %}

        {% block content %}
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                {% block header %}
                    <section class="content-header">
                        <h1>
                            Dashboard
                        </h1>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('back_office') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
                            <li class="breadcrumb-item active">{% block breadcrumb %}{% endblock %}</li>
                        </ol>
                    </section>
                {% endblock %}


                {% block container %}
                {% endblock %}
            </div>
            <!-- /.content-wrapper -->
        {% endblock %}

        {% block footer %}
            {% include 'back_office/partials/footer.html.twig' %}
        {% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        document.body.setAttribute('class', 'hold-transition skin-blue sidebar-mini');
    </script>
    <!-- jQuery 3 -->
    <script src="{{ asset('back_office/vendor_components/jquery-3.3.1/jquery-3.3.1.js') }}"></script>

    <!-- jQuery UI 1.11.4 -->
    <script src="{{ asset('back_office/vendor_components/jquery-ui/jquery-ui.js') }}"></script>

    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>

    <!-- popper -->
    <script src="{{ asset('back_office/vendor_components/popper/dist/popper.min.js') }}"></script>

    <!-- Bootstrap 4.0-->
    <script src="{{ asset('back_office/vendor_components/bootstrap/dist/js/bootstrap.js') }}"></script>

    <!-- ChartJS -->
    <script src="{{ asset('back_office/vendor_components/chart.js-master/Chart.min.js') }}"></script>

    <!-- Slimscroll -->
    <script src="{{ asset('back_office/vendor_components/jquery-slimscroll/jquery.slimscroll.js') }}"></script>

    <!-- FastClick -->
    <script src="{{ asset('back_office/vendor_components/fastclick/lib/fastclick.js') }}"></script>

    <!-- peity -->
    <script src="{{ asset('back_office/vendor_components/jquery.peity/jquery.peity.js') }}"></script>

    <!-- Morris.js charts -->
    <script src="{{ asset('back_office/vendor_components/raphael/raphael.min.js') }}"></script>
    <script src="{{ asset('back_office/vendor_components/morris.js/morris.min.js') }}"></script>

    <!-- Fab Admin App -->
    <script src="{{ asset('back_office/js/template.js') }}"></script>

    <!-- Fab Admin for demo purposes -->
    <script src="{{ asset('back_office/js/demo.js') }}"></script>

    <!-- Vector map JavaScript -->
    <script src="{{ asset('back_office/vendor_components/jvectormap/lib2/jquery-jvectormap-2.0.2.min.js') }}"></script>
    <script src="{{ asset('back_office/vendor_components/jvectormap/lib2/jquery-jvectormap-world-mill-en.js') }}"></script>
    <script src="{{ asset('back_office/vendor_components/jvectormap/lib2/jquery-jvectormap-us-aea-en.js') }}"></script>

    <!-- Data Table JavaScript -->
    <script src="{{ asset('back_office/vendor_components/datatable/datatables.min.js') }}"></script>
    <script src="{{ asset('back_office/js/pages/data-table.js') }}"></script>

    <!-- I check JavaScript -->
    <script src="{{ asset('back_office/vendor_plugins/iCheck/icheck.min.js') }}"></script>

    {# Delete confimation sweet alert #}
    <script>
        //Parameter
        function deleteHandler(event, a) {
            event.preventDefault();
            var href = $(a).attr('href');
            swal({
                title: "Êtes-vous certain de vouloir supprimer?",
                text: "Vous ne serez plus capable de recuperer cela!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Oui!",
                cancelButtonText: "Annuler!",
                closeOnConfirm: true,
                closeOnCancel: true
            }, function(isConfirm){
                if (isConfirm)
                {
                    // swal("Deleted!", "Your imaginary file has been deleted.", "success");
                    window.location = href;
                }
                // else
                // {
                //     swal("Cancelled", "Your imaginary file is safe :)", "error");
                // }
            });
        }
    </script>
    <script src="{{ asset('back_office/vendor_components/sweetalert/sweetalert.min.js') }}"></script>
{% endblock %}