<!DOCTYPE html>
<html lang="fr" class="no-js">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap 4.0-->
    <link rel="stylesheet" href="{{ absolute_url(asset('back_office/css/print_style.css')) }}">

    <!-- Bootstrap extend-->
    {#<link rel="stylesheet" href="{{ absolute_url(asset('back_office/css/bootstrap-extend.css')) }}">#}

    {#<!-- theme style -->#}
    {#<link rel="stylesheet" href="{{ absolute_url(asset('back_office/css/master_style.css')) }}">#}

    {#<!-- Fab Admin skins -->#}
    {#<link rel="stylesheet" href="{{ absolute_url(asset('back_office/css/skins/_all-skins.css')) }}">#}

    {#<!-- Vector CSS -->#}
    {#<link href="{{absolute_url( asset('back_office/vendor_components/jvectormap/lib2/jquery-jvectormap-2.0.2.css')) }}" rel="stylesheet" />#}

</head>

{% block body %}
{% endblock %}